
   

   <table class="article-table" border="1" width="100%" cellspacing="1" cellpadding="10">
    <tbody>
        <tr>
            <td>Starting Age</td>
            <td>25</td>
            <td>35</td>
            <td>45</td>
            <td>55</td>
            
        </tr>
        <tr>
            <td>Approximate amount in your account at age 70</td>
            <td>$1,100,000</td>
            <td>$450,000</td>
            <td>$200,000</td>
            <td>$70,000</td>
        </tr>
        
    </tbody>
    
</table>
