html {
  font-size: 100%;
  line-height: 1.5;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: white;
  opacity: 0.8;
}

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
}

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box;
}

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.mfp-align-top .mfp-container:before {
  display: none;
}

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto;
}

.mfp-ajax-cur {
  cursor: progress;
}

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

.mfp-auto-cursor .mfp-content {
  cursor: auto;
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.mfp-loading.mfp-figure {
  display: none;
}

.mfp-hide {
  display: none !important;
}

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044;
}

.mfp-preloader a {
  color: #CCC;
}

.mfp-preloader a:hover {
  color: #FFF;
}

.mfp-s-ready .mfp-preloader {
  display: none;
}

.mfp-s-error .mfp-content {
  display: none;
}

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;
}

.mfp-iframe-scaler .mfp-close {
  color: #30235e !important;
  opacity: 1 !important;
  /*color: white !important;
    
    right:0 !important;
    width: 3% !important;
    height: 30px !important;
    padding:0 !important;
    line-height: 0 !important;
    text-align: center !important;*/
}

.mfp-close:hover,
.mfp-close:focus {
  opacity: 1;
}

.mfp-close:active {
  top: 1px;
}

.mfp-close-btn-in .mfp-close {
  color: #333;
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap;
}

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent;
}

.mfp-arrow:active {
  margin-top: -54px;
}

.mfp-arrow:hover,
.mfp-arrow:focus {
  opacity: 1;
}

.mfp-arrow:before,
.mfp-arrow:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent;
}

.mfp-arrow:after {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px;
}

.mfp-arrow:before {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7;
}

.mfp-arrow-left {
  left: 0;
}

.mfp-arrow-left:after {
  border-right: 17px solid #FFF;
  margin-left: 31px;
}

.mfp-arrow-left:before {
  margin-left: 25px;
  border-right: 27px solid #3F3F3F;
}

.mfp-arrow-right {
  right: 0;
}

.mfp-arrow-right:after {
  border-left: 17px solid #FFF;
  margin-left: 39px;
}

.mfp-arrow-right:before {
  border-left: 27px solid #3F3F3F;
}

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px;
}

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px;
}

.mfp-iframe-holder .mfp-close {
  top: -40px;
}

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000;
}

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto;
}

/* The shadow behind the image */
.mfp-figure {
  line-height: 0;
}

.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444;
}

.mfp-figure small {
  color: #BDBDBD;
  display: block;
  font-size: 12px;
  line-height: 14px;
}

.mfp-figure figure {
  margin: 0;
}

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto;
}

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px;
}

.mfp-image-holder .mfp-content {
  max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
         * Remove all paddings around the image on small screen
         */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0;
  }
  .mfp-img-mobile img.mfp-img {
    padding: 0;
  }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0;
  }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px;
  }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box;
  }
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0;
  }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px;
  }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0;
  }
}

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0;
  }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%;
  }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px;
  }
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #777;
  font-weight: 500;
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0 0 1rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #aa67a9;
}

a {
  text-decoration: none;
}

#page {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}

#page:after {
  content: " ";
  display: block;
  clear: both;
}

@media (min-width: 0) and (max-width: 64em) {
  #page {
    padding: 0 1.5rem;
  }
}

/*===================================
    Import: Cornered Embellishments
===================================*/
.purple-corner .post-corner, .large-purple-corner .post-corner {
  position: relative;
  z-index: 3;
}

.purple-corner .post-corner::before, .large-purple-corner .post-corner::before,
.purple-corner .post-corner::after, .large-purple-corner .post-corner::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-color: transparent;
  border-style: solid;
}

.purple-corner .post-corner::after, .large-purple-corner .post-corner::after {
  border-left-radius: 0.5em;
  border-width: 2.25em;
  border-left-color: rgba(170, 103, 169, 0.9);
  border-top-color: rgba(170, 103, 169, 0.9);
}

.large-purple-corner .post-corner::after {
  border-width: 3em;
}

.blue-corner .post-corner, .large-blue-corner .post-corner {
  position: relative;
  z-index: 3;
}

.blue-corner .post-corner::before, .large-blue-corner .post-corner::before,
.blue-corner .post-corner::after, .large-blue-corner .post-corner::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-color: transparent;
  border-style: solid;
}

.blue-corner .post-corner::after, .large-blue-corner .post-corner::after {
  border-left-radius: 0.5em;
  border-width: 2.25em;
  border-left-color: rgba(99, 129, 192, 0.9);
  border-top-color: rgba(99, 129, 192, 0.9);
}

.large-blue-corner .post-corner:after {
  border-width: 3em;
}

.dk-purple-corner .post-corner, .large-dk-purple-corner .post-corner {
  position: relative;
  z-index: 3;
}

.dk-purple-corner .post-corner::before, .large-dk-purple-corner .post-corner::before,
.dk-purple-corner .post-corner::after, .large-dk-purple-corner .post-corner::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-color: transparent;
  border-style: solid;
}

.dk-purple-corner .post-corner::after, .large-dk-purple-corner .post-corner::after {
  border-left-radius: 0.5em;
  border-width: 2.25em;
  border-left-color: rgba(48, 35, 94, 0.9);
  border-top-color: rgba(48, 35, 94, 0.9);
}

.large-dk-purple-corner .post-corner:after {
  border-width: 3em;
}

.gray-corner .post-corner, .large-gray-corner .post-corner {
  position: relative;
  z-index: 3;
}

.gray-corner .post-corner::before, .large-gray-corner .post-corner::before,
.gray-corner .post-corner::after, .large-gray-corner .post-corner::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-color: transparent;
  border-style: solid;
}

.gray-corner .post-corner::after, .large-gray-corner .post-corner::after {
  border-left-radius: 0.5em;
  border-width: 2.25em;
  border-left-color: rgba(102, 102, 102, 0.9);
  border-top-color: rgba(102, 102, 102, 0.9);
}

.large-gray-corner .post-corner:after {
  border-width: 3em;
}

.item {
  position: fixed;
  text-align: center;
  width: 200px;
}

.item:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}

.tooltip {
  background: #1496bb;
  bottom: 100%;
  color: #fff;
  display: block;
  margin-bottom: 15px;
  opacity: 0;
  padding: 20px;
  pointer-events: none;
  position: absolute;
  z-index: 100;
  width: 550px;
  left: -124px;
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-transition: all .25s ease-out;
  -moz-transition: all .25s ease-out;
  -ms-transition: all .25s ease-out;
  -o-transition: all .25s ease-out;
  transition: all .25s ease-out;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}

.tooltip:before {
  bottom: -20px;
  content: " ";
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  width: 100%;
}

.tooltip:after {
  border-left: solid transparent 10px;
  border-right: solid transparent 10px;
  border-top: solid #1496bb 10px;
  bottom: -10px;
  content: " ";
  height: 0;
  left: 50%;
  margin-left: -13px;
  position: absolute;
  width: 0;
}

.bxslider {
  overflow: visible;
}

/*=================================
-- Header
=================================*/
.site-header {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  position: relative;
}

@media (min-width: 64em) {
  .site-header {
    padding: 2rem 0 0 0;
  }
}

.lance {
  width: 100px;
}

.logo {
  width: 57.14286%;
  margin: auto;
  padding: 1.5rem 0;
}

.logo img {
  width: 100%;
  height: auto;
}

@media (min-width: 32em) {
  .logo {
    width: 265px;
  }
}

@media (min-width: 50em) {
  .logo {
    width: 31.42857%;
    float: left;
    margin-right: 2.85714%;
  }
  .logo img {
    width: 265px;
    height: auto;
  }
}

@media (min-width: 64em) {
  .logo {
    width: 25.71429%;
    float: left;
    margin-right: 2.77778%;
  }
}

.header-actions {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

@media (min-width: 50em) and (max-width: 64em) {
  .header-actions {
    width: 39%;
    float: left;
    margin-right: 2.85714%;
    margin-top: 1.5rem;
  }
}

@media (min-width: 64em) {
  .header-actions {
    width: 48.57143%;
    float: left;
    margin-top: 1.5rem;
    padding-right: 1rem;
  }
}

.header-actions .jemma-financial-link {
  margin: 0 1.5rem 0 auto;
  padding: 0.55rem;
  text-align: center;
  font-size: 0.9rem;
  line-height: 0.9rem;
  width: 100%;
  color: #aa67a9;
}

.header-actions .jemma-financial-link a {
  color: #aa67a9;
}

@media (min-width: 50em) {
  .header-actions .jemma-financial-link {
    margin: 0 0.5rem 0 auto;
    text-align: right;
    width: 52%;
    float: right;
    font-size: .8rem;
  }
}

@media (min-width: 64em) {
  .header-actions .jemma-financial-link {
    font-size: .9rem;
  }
}

.header-actions .jemma-everyday-social-links {
  margin: 0 auto 0 auto;
  text-align: center;
}

.header-actions .jemma-everyday-social-links .social-icons-list-item .socicon-instagram {
  color: #FFF !important;
  background-color: #3c618c !important;
}

.header-actions .jemma-everyday-social-links .social-icons ul {
  padding: 0;
  margin: 0;
}

.header-actions .jemma-everyday-social-links .social-icons ul li {
  margin: 0;
  padding: 0;
  display: inline-block !important;
}

.header-actions .jemma-everyday-social-links .social-icons-lists .socicon {
  border-radius: 4px;
}

.header-actions .jemma-everyday-social-links a {
  margin-right: 6px;
}

.header-actions .jemma-everyday-social-links img {
  width: 32px;
  height: 32px;
}

@media (min-width: 50em) {
  .header-actions .jemma-everyday-social-links {
    margin: 0 auto 1rem auto;
    text-align: right;
    float: right;
  }
}

.social .social-icons-lists li {
  display: block !important;
  margin-bottom: 0.75rem !important;
}

.social .social-icons-lists .socicon {
  border-radius: 4px !important;
}

.jemma-band {
  width: 100%;
  text-align: center;
}

@media (min-width: 50em) and (max-width: 64em) {
  .jemma-band {
    width: 24%;
    float: left;
    margin-right: 2.85714%;
    position: absolute;
    top: -140px;
    right: 0;
    height: 255px;
    background: #aa67a9;
    color: white;
    text-align: left;
    border-radius: 8px;
    padding: 9.5rem 1rem 0 1rem;
    margin-right: 0;
  }
  .jemma-band a {
    color: white;
  }
  .jemma-band a:hover {
    color: white;
  }
  .jemma-band p:first-child {
    text-transform: uppercase;
    font-weight: bold;
  }
  .jemma-band p:last-child {
    font-size: 0.95rem;
  }
}

@media (min-width: 64em) {
  .jemma-band {
    position: absolute;
    top: -140px;
    right: 0;
    width: 19%;
    background: #aa67a9;
    height: 346px;
    border-radius: 8px;
    z-index: 200;
    padding: 12.5rem 1rem 0 1rem;
    color: white;
    text-align: left;
  }
  .jemma-band a {
    color: white;
  }
  .jemma-band a:hover {
    color: white;
  }
  .jemma-band p:first-child {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.35rem;
    line-height: 1.75rem;
  }
  .jemma-band p:last-child {
    font-size: 0.95rem;
    margin-top: 1.5rem;
  }
}

.header-search {
  width: 100%;
  float: left;
  margin: 0 auto 1.5rem auto;
}

@media (min-width: 50em) {
  .header-search {
    width: 31.42857%;
    float: right;
  }
}

@media (min-width: 64em) {
  .header-search {
    width: 22.85714%;
    float: right;
  }
}

.header-search input[type="search"] {
  padding: 0.5rem !important;
  width: 100%;
  border: 2px solid rgba(51, 51, 51, 0.2);
  border-radius: 8px;
  outline: none;
  font-family: 'Raleway', sans-serif;
  color: #ccc;
  font-size: 0.85rem;
  line-height: 0;
}

.header-search .search .search-inner {
  position: relative;
}

.header-search .search button {
  background: none;
  border: none;
  outline: none;
  position: absolute;
  right: 0.65rem;
  top: 3px;
  bottom: 0.35rem;
  padding: 0.1rem;
  cursor: pointer;
}

.header-search .search button .fa-search {
  color: rgba(51, 51, 51, 0.2);
}

/*=================================
-- Navigation
=================================*/
.menu-toggle {
  width: 100%;
  text-align: center;
  display: block;
  float: left;
  margin-top: 1rem;
}

.menu-toggle button {
  border: none;
  padding: 0.75rem 1.2rem;
  font-size: 1rem;
  background: #8e4d8d;
  color: white;
  outline: none;
  cursor: pointer;
  width: 100%;
  text-align: right;
}

.menu-toggle button:before {
  font-family: 'FontAwesome';
}

.primary-navigation {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
}

.menu li {
  border-bottom: 1px solid #bf91be;
  padding: 0.5rem 0;
  background: #aa67a9;
  transition: 0.1s linear;
}

.menu li:last-child {
  border-bottom: none;
}

.menu li a {
  padding: 0.35rem 0 0.35rem 1.5rem;
  display: block;
  color: white;
  font-size: 0.9rem;
}

.sub-menu {
  padding: 0;
  margin: 0;
}

.sub-menu li {
  list-style: none;
  padding-left: 1rem;
  border-bottom: none;
}

.expanded {
  display: block;
}

@media (min-width: 50em) {
  .menu-toggle {
    display: none;
  }
  .primary-navigation {
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    display: table;
  }
  .menu {
    list-style: none;
    margin: 0;
    width: 75%;
    position: relative;
    display: table-cell;
    display: flex;
    justify-content: space-between;
  }
  .menu li {
    background: none;
    border: none;
    display: inline-block;
    padding: 0 1rem;
  }
  .menu li:first-child {
    padding-left: 0;
  }
  .menu li:hover {
    background: none;
  }
  .menu li:hover .sub-menu {
    visibility: visible;
    /* hides sub-menu */
    opacity: 1;
    top: 100%;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
  }
  .menu li:nth-of-type(2) {
    cursor: default;
  }
  .menu li a {
    padding: 0.25rem 0;
    display: block;
    color: #333;
    font-size: 0.9rem;
    font-weight: 600;
  }
  .sub-menu {
    position: absolute;
    z-index: 4;
    /* hides sub-menu */
    visibility: hidden;
    opacity: 0;
    top: 100%;
    transform: translateY(1em);
    transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    overflow: hidden;
    min-width: 245px;
    background: #f7fafd;
    border-radius: 8px;
    -webkit-box-shadow: -6px 9px 18px -2px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: -6px 9px 18px -2px rgba(0, 0, 0, 0.25);
    box-shadow: -6px 9px 18px -2px rgba(0, 0, 0, 0.25);
  }
  .sub-menu li {
    display: block;
    padding: 0.5rem 0 0.5rem 1rem;
    border-bottom: 1px solid rgba(224, 234, 245, 0.5);
  }
  .sub-menu li:first-child {
    padding-left: 1rem;
  }
  .sub-menu li:hover:nth-of-type(1n) {
    background: #6381c0;
  }
  .sub-menu li:hover:nth-of-type(2n) {
    background: #aa67a9;
  }
  .sub-menu li:hover:nth-of-type(3n) {
    background: #666666;
  }
  .sub-menu li:hover:nth-of-type(4n) {
    background: #30235e;
  }
  .sub-menu li:hover a {
    color: white;
  }
}

@media (min-width: 64em) {
  .menu {
    padding: 0;
    margin-top: 1.5rem;
  }
}

/*=================================
-- Subheader
=================================*/
.subheader {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-top: 1.5rem;
}

@media (min-width: 30em) {
  .subheader {
    margin-bottom: 0;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 50em) {
  .subheader {
    margin: 0;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 64em) {
  .subheader {
    margin: 0;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }
}

.category-family .hero,
.category-life .hero,
.category-money .hero,
.category-work .hero,
.blog .hero,
.videos .hero,
.meet-us .hero,
.our-partners .hero,
.contact-us .hero {
  height: 280px;
}

@media (min-width: 50em) {
  .category-family .hero,
  .category-life .hero,
  .category-money .hero,
  .category-work .hero,
  .blog .hero,
  .videos .hero,
  .meet-us .hero,
  .our-partners .hero,
  .contact-us .hero {
    height: 200px;
  }
}

.hero {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  border-radius: 10px;
  overflow: hidden !important;
  position: relative;
  z-index: 1;
  height: 145px;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

@media (min-width: 56.25em) {
  .hero {
    height: 200px;
    background-position: 100%;
  }
}

.hero .hero-left {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin: 0;
}

@media (min-width: 50em) {
  .hero .hero-left {
    width: 68.57143%;
    float: left;
    margin-right: 2.77778%;
    min-height: 381px;
  }
}

.hero .hero-left-interior {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  background-repeat: no-repeat;
  height: 100px;
  background-image: none;
  margin-bottom: 1.5rem;
  border-radius: 10px;
  overflow: hidden !important;
}

.hero .hero-left-interior .inner-hero-content {
  height: 100%;
  width: 100%;
  padding: 0;
  line-height: 100px;
  text-align: center;
  background: #6381c0;
}

.hero .hero-left-interior .inner-hero-content h1 {
  color: white;
}

@media (min-width: 50em) {
  .hero .hero-left-interior {
    width: 68.57143%;
    float: left;
    margin-right: 2.77778%;
    height: 200px;
    margin-bottom: 0;
    background-image: visible !important;
  }
  .hero .hero-left-interior .inner-hero-content {
    height: 100%;
    line-height: 300px;
    padding: 0 0 0 3rem;
    text-align: left;
    background: none !important;
  }
  .hero .hero-left-interior .inner-hero-content h1 {
    color: #30235e;
  }
}

.hero .hero-left-interior-full {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  min-height: 200px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.hero .hero-right {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

@media (min-width: 50em) {
  .hero .hero-right {
    width: 28.57143%;
    float: right;
    margin-right: 0;
    height: 200px;
  }
}

.jemma-module {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  overflow: hidden;
  border-radius: 8px;
  display: table;
  margin-bottom: 1.5rem;
}

@media (min-width: 30em) {
  .jemma-module {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
  .jemma-module:nth-child(2) {
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 50em) {
  .jemma-module {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 30em) {
  .jemma-homepage .jemma-module {
    width: 48.57143%;
    float: left;
    margin-right: 2.85714%;
  }
  .jemma-homepage .jemma-module:nth-child(2) {
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 50em) {
  .jemma-homepage .jemma-module {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

/*=================================
-- New Homepage Slider
=================================*/
.msHtmlOverlay .slider-button {
  border-radius: 8px !important;
  padding: .75rem 0.25rem !important;
  color: white !important;
  display: block;
  text-align: center;
}

.msHtmlOverlay .purple {
  background: #aa67a9;
}

.msHtmlOverlay .dk-purple {
  background: #30235e;
}

/*----------------------
   Hero h1's
----------------------*/
.category-money .inner-hero-content h1 {
  color: white !important;
}

@media (min-width: 50em) {
  .category-money .inner-hero-content h1 {
    color: #6381c0 !important;
  }
}

.category-family .inner-hero-content {
  background: #aa67a9 !important;
}

.category-family .inner-hero-content h1 {
  color: white !important;
}

@media (min-width: 50em) {
  .category-family .inner-hero-content h1 {
    color: #aa67a9 !important;
  }
}

.category-work .inner-hero-content {
  background: #666666 !important;
}

.category-work .inner-hero-content h1 {
  color: white !important;
}

@media (min-width: 50em) {
  .category-work .inner-hero-content h1 {
    color: #666666 !important;
  }
}

.category-life .inner-hero-content {
  background: #30235e !important;
}

.category-life .inner-hero-content h1 {
  color: white !important;
}

@media (min-width: 50em) {
  .category-life .inner-hero-content h1 {
    color: #30235e !important;
  }
}

.brave-and-beyond .hero {
  background-position: -9000px -9000px;
  height: 95px;
}

@media (min-width: 48em) {
  .brave-and-beyond .hero {
    background-position: 0 0;
    height: 145px;
  }
}

@media (min-width: 56.25em) {
  .brave-and-beyond .hero {
    height: 200px;
  }
}

.brave-and-beyond .inner-hero-content {
  display: block;
}

@media (min-width: 48em) {
  .brave-and-beyond .inner-hero-content {
    display: none;
  }
}

.contact-bullets ul {
  padding: 0 0 1.5rem 3rem;
  margin: 0;
  list-style: none;
}

.contact-bullets li {
  padding: 0 0 1rem 0;
}

.contact-bullets li i {
  color: #aa67a9;
  font-weight: bold;
}

.contact-nominee-submit {
  display: block;
  padding: 0.75rem 1rem;
  background: #30235e;
  transition: 0.1s linear 0.1s;
  width: 20%;
  border-radius: 8px;
  text-align: center;
  color: white !important;
  font-size: 14px !important;
  line-height: 1;
}

.contact-nominee-submit:hover {
  background: #aa67a9;
}

.contact-submit {
  padding: 0 !important;
}

.contact-submit input[type="submit"] {
  display: block;
  width: 20% !important;
  padding: 0.75rem 1rem !important;
  background: #30235e;
  border: none;
  box-shadow: none !important;
  text-shadow: none !important;
  color: white !important;
  border-radius: 8px;
  font-size: 14px;
  transition: 0.1s linear 0.1s;
}

.contact-submit input[type="submit"]:hover {
  background: #aa67a9;
}

.nominee-submit {
  padding: 0 !important;
}

.nominee-submit input[type="submit"] {
  display: block;
  width: 40% !important;
  padding: 0.75rem 1rem !important;
  background: #30235e;
  border: none;
  box-shadow: none !important;
  text-shadow: none !important;
  color: white !important;
  border-radius: 8px;
  font-size: 14px;
  transition: 0.1s linear 0.1s;
}

.nominee-submit input[type="submit"]:hover {
  background: #aa67a9;
}

/*====================================
    Brave and Beyond Widget
====================================*/
.brave-beyond-wgt {
  width: 100%;
  float: left;
  background: #30235e;
  text-align: center;
  padding: 1.1rem 0;
}

.nominate-button {
  width: 75%;
  background: #30235e;
  height: 75px;
  border-radius: 8px;
  line-height: 75px;
  text-align: center;
  margin: 0 auto 0 auto;
  transition: 0.3s linear 0.3s;
  display: block;
}

.nominate-button a {
  color: white;
}

.nominate-button a i {
  margin-left: 0.5rem;
}

.nominate-button:hover {
  background: #aa67a9;
}

@media (min-width: 50em) {
  .nominate-button {
    margin: 4rem auto 0 auto;
  }
}

.bandb-image {
  width: 100%;
  min-height: 45px;
  float: left;
  text-align: center;
}

.bandb-image img {
  height: auto;
  width: 100%;
}

@media (min-width: 401px) and (max-width: 767px) {
  .bandb-image img {
    width: 290px;
    max-width: 100%;
  }
}

.hero-right .jemma-module:first-child {
  margin-bottom: 1.2rem;
}

/*====================================
    Sign up Widget
====================================*/
.signup-wgt {
  background: #aa67a9;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.85rem;
  font-weight: 400;
  padding: 1.25rem 1rem;
  /*=================================
    -- Small Signup Edit
    =================================*/
}

.signup-wgt a {
  color: white;
}

.signup-wgt .sm-connect-w-us {
  font-size: 1.2rem;
  font-weight: 600;
}

/*====================================
    Large Purple Sign up Widget
====================================*/
.lg-signup-wgt {
  background: #aa67a9;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 1.25rem 1rem;
  font-weight: 600;
  /*=================================
    -- Small Signup Edit
    =================================*/
}

@media (min-width: 50em) {
  .lg-signup-wgt {
    height: 200px;
    display: table-cell;
    vertical-align: middle;
  }
}

.lg-signup-wgt a {
  color: white;
}

.lg-signup-wgt .smaller-signup-text {
  font-size: 1rem;
  display: block;
  font-weight: 400;
  padding: 0 1.5rem 0 1.5rem;
  margin-top: 1.0rem;
}

.lg-signup-wgt .sm-connect-w-us {
  font-size: 1.2rem;
  font-weight: 600;
}

/*====================================
    Bigger Sign up Widget
====================================*/
.og-signup-wgt {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  height: 200px;
  padding: 1rem;
  color: #aa67a9;
  text-align: center;
  display: table-cell;
  vertical-align: top;
  font-weight: 500;
  font-size: 1rem;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.og-signup-wgt .connect-w-us {
  font-weight: 800;
  font-size: 1.2rem;
  display: inline-block;
  margin: 0 0 6px 0;
}

.og-signup-wgt .button {
  text-transform: uppercase;
  background: #aa67a9;
  padding: 0.5rem 2rem;
  border-radius: 8px;
  color: white;
  font-size: 0.95rem;
  font-weight: 500;
  margin: 1rem auto;
  display: block;
  width: 70%;
  transition: 0.1s linear 0.1s;
}

.og-signup-wgt .button:hover {
  background: #30235e;
}

@media (min-width: 480px) and (max-width: 541px) {
  .og-signup-wgt {
    height: 212px;
    font-size: 1rem;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 50em) {
  .og-signup-wgt {
    max-height: 200px;
    font-size: 1rem;
  }
}

/*====================================
    Visit Jemma Financial Widget
====================================*/
.visit-jemfinancial-wgt {
  height: 160px;
  background: #30235e;
}

.visit-jemfinancial-wgt .top {
  width: 100%;
  height: 55%;
  text-align: center;
}

.visit-jemfinancial-wgt .top img {
  width: 210px;
  height: 90px;
}

.visit-jemfinancial-wgt .bottom {
  background: #30235e;
  height: 45%;
  width: 100%;
  text-align: center;
  display: table;
}

.visit-jemfinancial-wgt .bottom a {
  color: white;
  text-transform: uppercase;
  display: block;
  display: table-cell;
  vertical-align: middle;
}

.left-panel-content {
  padding-right: 3.5rem;
}

.so-panel {
  margin-bottom: 0 !important;
}

/*=================================
-- Main
=================================*/
.main {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  clear: both;
  padding: 2rem 0 0 0;
}

.introduction {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  border-bottom: 2px solid #30235e;
  margin: 0 0 2rem 0;
}

@media (min-width: 50em) {
  .introduction {
    width: 91.42857%;
    float: left;
    margin-right: 2.85714%;
    padding-bottom: 0.75rem;
  }
}

.site-content {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

.site-content:first-child {
  padding-top: 0;
}

@media (min-width: 50em) {
  .site-content {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 64em) {
  .site-content {
    padding: 0;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

.primary {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  min-height: 450px;
  background: transparent;
}

.primary h1 {
  color: #aa67a9;
}

.primary .entry-title {
  margin-bottom: 1rem !important;
}

@media (min-width: 50em) {
  .primary {
    width: 68.57143%;
    float: left;
    margin-right: 2.77778%;
    padding-right: 1.5rem;
    min-height: 450px;
  }
}

.primary-full {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

.secondary {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  background: transparent;
}

.secondary .rounded {
  border-radius: 8px;
  overflow: hidden;
}

@media (min-width: 50em) {
  .secondary {
    width: 28.57143%;
    float: right;
    margin-right: 0;
  }
}

.news-article {
  margin-bottom: 2rem;
}

h2.widget-title a {
  color: #aa67a9;
}

h2.widget-title a:hover {
  color: #aa67a9;
}

.readmore {
  color: #aa67a9;
  font-weight: 600;
}

.add-vert-spacing {
  padding: 2rem 0;
}

.article-author {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 2.5rem;
}

.article-author img {
  float: left;
  border-radius: 8px;
  margin-right: 1rem;
}

.author-thumb {
  width: 31.42857%;
  float: left;
  margin-right: 2.85714%;
}

@media (min-width: 48em) {
  .author-thumb {
    width: 22.85714%;
    float: left;
    margin-right: 2.85714%;
  }
}

@media (min-width: 50em) {
  .author-thumb {
    width: 17.14286%;
    float: left;
    margin-right: 2.77778%;
  }
}

.author-thumb img {
  border-radius: 8px;
}

.author-info p em {
  font-size: 0.85rem;
}

.author-info .sub-title {
  font-size: 0.85rem;
}

@media (min-width: 50em) {
  .author-info {
    width: 65.71429%;
    float: left;
    margin-right: 2.85714%;
  }
}

.article-body-image {
  border-radius: 8px;
  margin: 1rem 0;
}

.disclosure {
  font-style: italic;
  border-top: 1px solid #777;
  padding-top: 1.5rem;
}

.post-info {
  margin-bottom: 2rem;
}

.posted-on {
  margin: 0;
  padding: 0 0 1.5rem 0;
}

.posted-by {
  margin: 0;
  padding: 0;
}

.posted-by a:nth-of-type(1) {
  display: none;
}

.author-content {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 4rem;
}

.author-entry-intro {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  display: table;
  vertical-align: middle;
  border-bottom: 2px solid #30235e;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
}

.author-entry-intro img {
  float: left;
  margin-right: 2rem;
}

.author-entry-intro p {
  padding: 0.65rem 0 0 0;
  margin: 0;
  font-size: 0.85rem;
  font-style: italic;
  width: 70%;
  float: left;
  display: table-cell;
}

.author-entry-intro h2 {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.author-entry-meta {
  font-size: 0.85rem;
  font-style: italic;
}

.author-entries {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  clear: left;
}

.author-entries .articles-by {
  font-style: italic;
}

.author-entries ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.author-entries ul li {
  padding: 1.5rem 0;
  border-bottom: 1px solid #CCC;
}

.author-entries ul li:first-child {
  padding-top: 0;
}

.author-entries ul li:last-child {
  border-bottom: none;
}

.for {
  font-style: italic;
  font-size: 0.85rem;
}

.apss-social-share {
  border-top: 2px solid #30235e;
  margin: 1.5rem 0;
  padding: 1.5rem 0;
}

.apss-theme-2 .apss-single-icon a {
  position: relative;
  display: block;
  float: left;
  margin: 10px 8px;
  color: #fff;
}

.apss-theme-2 .apss-single-icon a:first-child {
  margin-left: 0;
}

.apss-share-text {
  opacity: 1;
  line-height: 16px;
  color: #222 !important;
  font-size: 16px;
  font-family: 'Raleway', sans-serif !important;
  margin-left: 0;
}

.apss-icon-block {
  border-radius: 6px;
}

/*=================================
-- Money Category Landing Page
=================================*/
.featured-img-w-title .widget-title {
  text-align: center;
  font-size: 1.3rem;
  padding: 0 1rem;
  color: #aa67a9;
}

.featured-article-w-image-left .widget-title {
  font-size: 1.3rem;
}

.featured-article-w-image-left .widget-title a {
  color: #aa67a9;
}

/*=================================

=================================*/
.featured-half-with-title-excerpt .widget-title {
  font-size: 1.3rem;
}

.featured-half-with-title-excerpt .p1 {
  margin: 0;
  padding: 0;
}

.featured-half-with-title-excerpt img {
  margin-bottom: 0.25rem;
}

/*=================================
-- Post Excerpts w Thumb
=================================*/
.post-container {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 1.5rem;
}

.post-container .post {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

.post-container .post-thumb {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

@media (min-width: 48em) {
  .post-container .post-thumb {
    width: 22.85714%;
    float: left;
    margin-right: 2.85714%;
  }
}

@media (min-width: 50em) {
  .post-container .post-thumb {
    width: 22.85714%;
    float: left;
    margin-right: 2.85714%;
    margin-top: 0.5rem;
  }
}

.post-container .post-content {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

@media (min-width: 50em) {
  .post-container .post-content {
    width: 65.71429%;
    float: left;
    margin-right: 2.85714%;
  }
}

.post-container h2 a {
  color: #aa67a9;
}

.front-post-thumb,
.post-thumb {
  width: 213px;
  height: 150px;
  border-radius: 8px;
  margin-bottom: 2rem;
  overflow: hidden !important;
  position: relative;
  z-index: 1;
}

@media (min-width: 48em) {
  .front-post-thumb,
  .post-thumb {
    width: 150px;
  }
}

@media (min-width: 50em) {
  .front-post-thumb,
  .post-thumb {
    height: 120px;
  }
}

@media (min-width: 64em) {
  .front-post-thumb,
  .post-thumb {
    height: 160px;
  }
}

.front-post-thumb:hover .post-cover,
.post-thumb:hover .post-cover {
  opacity: 1;
  top: 0;
}

.front-post-thumb .post-cover,
.post-thumb .post-cover {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(48, 35, 94, 0.7);
  position: absolute;
  z-index: 2;
  top: 0;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  padding: 0;
  cursor: pointer;
}

.front-post-thumb .post-cover .caption,
.post-thumb .post-cover .caption {
  position: absolute;
  top: 39px;
  color: white;
  z-index: 4;
  width: 100%;
  height: 100%;
}

.front-post-thumb .post-cover a,
.post-thumb .post-cover a {
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: relative;
  text-align: center;
  padding: 0;
  margin: 0;
  color: white;
}

.front-post-thumb .post-cover img,
.post-thumb .post-cover img {
  height: 80px;
  width: 146px;
}

.front-post-thumb .post-cover p,
.post-thumb .post-cover p {
  display: block;
  vertical-align: middle;
  text-align: center;
  color: white;
  font-weight: 600;
  padding: 1.75rem 1.75rem 1rem 1.75rem;
  margin: 0;
}

.front-post-thumb .post-cover p:first-child,
.post-thumb .post-cover p:first-child {
  padding-bottom: 1rem;
}

.front-post-thumb .post-cover .thumb-generic-linker,
.post-thumb .post-cover .thumb-generic-linker {
  font-style: italic;
  font-weight: 100;
  font-size: 0.95rem;
  padding: 2.2rem 1.75rem 1rem 1.75rem;
  height: 100%;
}

.front-post-thumb .post-cover .thumb-generic-linker i,
.post-thumb .post-cover .thumb-generic-linker i {
  display: block;
  padding-top: 0.5rem;
  font-size: 1.3rem;
}

@media (min-width: 800px) and (max-width: 1024px) {
  .front-post-thumb .post-cover .thumb-generic-linker,
  .post-thumb .post-cover .thumb-generic-linker {
    padding: 1.2rem 1rem 1rem 1rem;
  }
}

.front-post-thumb img,
.post-thumb img {
  width: 100%;
  height: auto;
}

.front-post-thumb img,
.post-thumb img {
  position: relative;
  z-index: 0;
}

#pg-84-1 {
  margin-bottom: 0 !important;
}

/*  Carousel - Overlay */
.sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail a span.overlay {
  background: #30235e !important;
  width: 200px !important;
  height: 170px !important;
}

.sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail a:hover span {
  opacity: .75 !important;
}

.slider-row h2 {
  margin-bottom: 0 !important;
}

.sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item {
  list-style: none;
  margin-left: 0;
  padding: 0;
  display: block;
  float: left;
  margin-right: 15px;
  width: 200px !important;
  height: 300px !important;
}

.sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail {
  border-radius: 8px !important;
  overflow: hidden;
}

.sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail .overlay {
  border-radius: 8px;
  width: 200px !important;
  height: 170px !important;
}

.sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail a {
  display: block;
  width: 235px !important;
  height: 170px !important;
  background-size: 235px 170px !important;
  background-position: center center;
}

.category-brave-and-beyond .so-widget-sow-post-carousel .sow-carousel-title {
  position: relative !important;
}

.category-brave-and-beyond .sow-carousel-wrapper {
  width: 630px !important;
}

.category-brave-and-beyond .so-widget-sow-post-carousel .sow-carousel-next {
  float: right;
  margin-right: 90px !important;
  margin-top: 100px !important;
  color: #aa67a9 !important;
  font-size: 3.5rem !important;
  background: white !important;
  line-height: 56px !important;
}

.category-brave-and-beyond .so-widget-sow-post-carousel .sow-carousel-previous {
  float: left;
  position: absolute !important;
  left: -63px !important;
  top: 98px !important;
  margin-left: 0 !important;
  margin-top: 0 !important;
  color: #aa67a9 !important;
  font-size: 3.5rem !important;
  background: white !important;
  line-height: 1 !important;
  z-index: 999;
}

.category-brave-and-beyond .sow-carousel-title a.sow-carousel-previous:before {
  font-family: 'FontAwesome';
  content: '\f104' !important;
}

.category-brave-and-beyond .sow-carousel-title a.sow-carousel-next:before {
  font-family: 'FontAwesome';
  content: '\f105' !important;
}

.category-brave-and-beyond #pgc-6-2-1,
.category-brave-and-beyond #pgc-6-3-1 {
  margin-left: 80px !important;
}

.category-brave-and-beyond h2.last-header {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
  width: 437px;
}

.category-brave-and-beyond h2.last-header a {
  color: #aa67a9;
}

/*------------------------------------------*/
.postid-281 .sow-carousel-wrapper, .single-post .sow-carousel-wrapper {
  max-width: 630px;
}

.postid-281 .so-widget-sow-post-carousel .sow-carousel-title, .single-post .so-widget-sow-post-carousel .sow-carousel-title {
  position: relative !important;
}

.postid-281 .sow-carousel-next, .single-post .sow-carousel-next {
  float: right;
  margin-right: -25px !important;
  margin-top: 100px !important;
  color: #aa67a9 !important;
  font-size: 3.5rem !important;
  background: white !important;
  line-height: 56px !important;
}

.postid-281 .sow-carousel-previous, .single-post .sow-carousel-previous {
  float: left;
  position: absolute !important;
  left: -43px !important;
  top: 100px !important;
  margin-left: 0 !important;
  margin-top: 0 !important;
  color: #aa67a9 !important;
  font-size: 3.5rem !important;
  background: white !important;
  line-height: 1 !important;
  z-index: 999;
}

.postid-281 .sow-carousel-title a.sow-carousel-previous:before, .single-post .sow-carousel-title a.sow-carousel-previous:before {
  font-family: 'FontAwesome';
  content: '\f104' !important;
}

.postid-281 .sow-carousel-title a.sow-carousel-next:before, .single-post .sow-carousel-title a.sow-carousel-next:before {
  font-family: 'FontAwesome';
  content: '\f105' !important;
}

/*=================================
-- Front Page
=================================*/
.featured-post-half {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

@media (min-width: 48em) {
  .featured-post-half {
    width: 48.57143%;
    float: left;
    margin-right: 2.85714%;
  }
  .featured-post-half:nth-child(2) {
    float: right;
    margin-right: 0;
  }
}

.featured-post-half .featured-thumb-third {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  position: relative;
  border-radius: 8px;
  overflow: hidden !important;
  height: 189px;
  z-index: 1;
}

.featured-post-half .featured-thumb-third .thumb-generic-linker {
  font-style: italic;
  font-weight: 100;
  font-size: 0.95rem;
  padding: 2.2rem 1.75rem 1rem 1.75rem;
  height: 100%;
}

.featured-post-half .featured-thumb-third .thumb-generic-linker i {
  display: block;
  padding-top: 0.5rem;
  font-size: 1.3rem;
}

@media (min-width: 800px) and (max-width: 1024px) {
  .featured-post-half .featured-thumb-third .thumb-generic-linker {
    padding: 1.2rem 1rem 1rem 1rem;
  }
}

@media (min-width: 50em) {
  .featured-post-half .featured-thumb-third {
    height: 270px;
  }
}

.featured-post-half .featured-thumb-third .attachment-post-thumbnail {
  height: auto;
  width: 100% !important;
}

.featured-post-half .featured-thumb-third img {
  height: auto;
  width: 100%;
}

.featured-post-half .featured-thumb-third:hover .post-cover {
  opacity: 1;
  top: 0;
}

.featured-post-half .featured-title {
  text-align: center;
}

.featured-post-half .featured-title h2 {
  font-size: 1.1rem;
  padding: 0.5rem;
}

@media (min-width: 50em) {
  .home .featured-post-half:nth-of-type(2) .post-cover > p,
  .home .featured-post-half:nth-of-type(1) .post-cover > p {
    padding: 3rem 0 !important;
  }
  .home .featured-post-half:nth-of-type(2) .post-cover > p img,
  .home .featured-post-half:nth-of-type(1) .post-cover > p img {
    width: 180px !important;
  }
}

/*.category-work .post-container:nth-of-type(1) .post-cover,
.home .post-container:nth-of-type(8) .post-cover,
.home .post-container:nth-of-type(9) .post-cover {
    display: none;
}

.category-money .post-cover {
    display: none;
}*/
.featured-post-third {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  min-height: 200px;
  border-radius: 8px;
  overflow: hidden !important;
}

@media (min-width: 48em) {
  .featured-post-third {
    width: 31.42857%;
    float: left;
    margin-right: 2.85714%;
  }
  .featured-post-third:nth-child(3) {
    float: right;
    margin-right: 0;
  }
}

.featured-post-third .featured-thumb-third {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  height: 200px;
  position: relative;
  border-radius: 8px;
  overflow: hidden !important;
  z-index: 1;
}

@media (min-width: 48em) {
  .featured-post-third .featured-thumb-third {
    height: 140px;
  }
}

@media (min-width: 50em) {
  .featured-post-third .featured-thumb-third {
    height: 200px;
  }
}

.featured-post-third .featured-thumb-third .attachment-post-thumbnail {
  height: auto;
  width: 100% !important;
}

.featured-post-third .featured-thumb-third img {
  height: auto;
  max-width: 100%;
}

.featured-post-third .featured-thumb-third:hover .post-cover {
  opacity: 1;
  top: 0;
}

.featured-post-third .featured-title {
  text-align: center;
}

.featured-post-third .featured-title h2 {
  font-size: 1.1rem;
  padding: 0.5rem;
}

.featured-post-third .thumb-generic-linker {
  font-style: italic;
  font-style: italic;
  font-weight: 200;
  font-size: 1.05rem;
  padding: 1.2rem 1.75rem 1rem 1.75rem;
  height: 100%;
}

.featured-post-third .thumb-generic-linker i {
  display: block;
  padding-top: 0.5rem;
  font-size: 1.3rem;
}

.post-cover {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: rgba(48, 35, 94, 0.7);
  position: absolute;
  z-index: 2;
  top: 0;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  padding: 2rem 0;
  cursor: pointer;
}

.post-cover .caption {
  position: absolute;
  top: 55px;
  color: white;
  z-index: 4;
  width: 100%;
  height: 100%;
}

.post-cover a {
  display: block;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: relative;
  text-align: center;
  padding: 0;
  margin: 0;
  color: white;
}

.post-cover img {
  height: 80px;
  width: 146px !important;
}

.post-cover p {
  display: block;
  vertical-align: middle;
  text-align: center;
  color: white;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.post-cover p:first-child {
  padding-bottom: 1rem;
}

.videos .featured-post-third {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

@media (min-width: 600px) and (max-width: 767px) {
  .videos .featured-post-third {
    width: 47.82609%;
    float: left;
  }
  .videos .featured-post-third:nth-child(2n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  .videos .featured-post-third:nth-child(2n + 2) {
    margin-left: 52.17391%;
    margin-right: -100%;
    clear: none;
  }
}

@media (min-width: 48em) {
  .videos .featured-post-third {
    width: 30.43478%;
    float: left;
  }
  .videos .featured-post-third:nth-child(3n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  .videos .featured-post-third:nth-child(3n + 2) {
    margin-left: 34.78261%;
    margin-right: -100%;
    clear: none;
  }
  .videos .featured-post-third:nth-child(3n + 3) {
    margin-left: 69.56522%;
    margin-right: -100%;
    clear: none;
  }
}

.videos .featured-post-third .featured-thumb-third {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  height: 242px;
  position: relative;
  border-radius: 8px;
  overflow: hidden !important;
  z-index: 1;
}

@media (min-width: 427px) and (max-width: 446px) {
  .videos .featured-post-third .featured-thumb-third {
    height: 254px;
  }
}

@media (min-width: 447px) and (max-width: 475px) {
  .videos .featured-post-third .featured-thumb-third {
    height: 274px;
  }
}

@media (min-width: 476px) {
  .videos .featured-post-third .featured-thumb-third {
    height: 287px;
  }
}

@media (min-width: 500px) and (max-width: 599px) {
  .videos .featured-post-third .featured-thumb-third {
    height: 307px;
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  .videos .featured-post-third .featured-thumb-third {
    height: 186px;
  }
}

@media (min-width: 768px) {
  .videos .featured-post-third .featured-thumb-third {
    height: 155px;
  }
}

@media (min-width: 800px) {
  .videos .featured-post-third .featured-thumb-third {
    height: 164px;
  }
}

@media (min-width: 869px) {
  .videos .featured-post-third .featured-thumb-third {
    height: 175px;
  }
}

@media (min-width: 925px) and (max-width: 996px) {
  .videos .featured-post-third .featured-thumb-third {
    height: 187px;
  }
}

@media (min-width: 997px) {
  .videos .featured-post-third .featured-thumb-third {
    height: 210px;
  }
}

.videos .featured-post-third .featured-thumb-third .attachment-post-thumbnail {
  height: auto;
  max-width: 100% !important;
}

.videos .featured-post-third .featured-thumb-third img {
  height: 100%;
  max-width: 100%;
}

.videos .featured-post-third .featured-thumb-third:hover .post-cover {
  opacity: 1;
  top: 0;
}

.videos .featured-post-third .featured-title {
  text-align: center;
}

.videos .featured-post-third .featured-title h2 {
  font-size: 1.1rem;
  padding: 0.5rem;
}

.videos .featured-post-third .thumb-generic-linker {
  font-style: italic;
  font-style: italic;
  font-weight: 200;
  font-size: 1.05rem;
  padding: 1.2rem 1.75rem 1rem 1.75rem;
  height: 100%;
}

.videos .featured-post-third .thumb-generic-linker i {
  display: block;
  padding-top: 0.5rem;
  font-size: 1.3rem;
}

/*=================================
-- Corporate Sponsor
=================================*/
.sponsor {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  border-bottom: 2px solid #30235e;
  min-height: 100px;
  display: table;
}

.sponsor .left-sponsor-logo {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  height: 145px;
  position: relative;
}

@media (min-width: 50em) {
  .sponsor .left-sponsor-logo {
    width: 31.42857%;
    float: left;
    margin-right: 2.85714%;
    height: 145px;
    padding: 0 1.5rem 0 1.5rem;
  }
}

.sponsor .left-sponsor-logo img {
  position: absolute;
  top: 4%;
  bottom: 0;
  left: 0;
  padding: 1.5rem;
}

.sponsor .right-sponsor-content {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  font-style: italic;
  font-size: 0.9rem;
  padding: 1.5rem;
  display: inline-block;
}

@media (min-width: 50em) {
  .sponsor .right-sponsor-content {
    width: 65.71429%;
    float: right;
    margin-right: 0;
    padding: 0 1.5rem 1.5rem 0;
  }
}

.sponsor-article {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  padding: 0 0 1.5rem 0;
}

.sponsor-article ol {
  margin: 0 0 0 2rem;
  padding: 0;
}

.sponsor-article ol li {
  color: #aa67a9;
  font-weight: bold;
}

.sponsor-article ol p {
  color: #777;
  font-weight: 500;
}

.yogas-benefits-head-toe .right-sponsor-content {
  margin-top: 1.25rem;
}

/*=================================
-- Related Content /Other Content
=================================*/
#accordion {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 3.5rem;
  text-align: center;
}

#accordion .acc-content {
  display: none;
  position: relative;
  text-align: left;
  background: rgba(0, 0, 0, 0.02);
  border-radius: 8px;
  -webkit-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.31);
  -moz-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.31);
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.31);
}

#accordion .acc-content p {
  padding: 1rem;
  font-size: 0.9rem;
  line-height: 1.45rem;
}

#accordion .acc-content p:nth-of-type(2) {
  padding-top: 0 !important;
  margin-top: 0 !important;
}

#accordion .acc-content .acc-content-link {
  text-decoration: underline;
  font-weight: 600;
}

@media (min-width: 50em) {
  #accordion {
    width: 31.42857%;
    float: left;
  }
  #accordion:nth-child(3n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  #accordion:nth-child(3n + 2) {
    margin-left: 34.28571%;
    margin-right: -100%;
    clear: none;
  }
  #accordion:nth-child(3n + 3) {
    margin-left: 68.57143%;
    margin-right: -100%;
    clear: none;
  }
  #accordion .accordionheader img {
    text-align: center;
    height: auto !important;
    max-width: 80% !important;
  }
}

#accordion h2 {
  cursor: pointer;
  outline: 0 !important;
  margin: 0;
  padding: 0 0 1.1rem 0 !important;
  border-bottom: 2px solid rgba(243, 243, 243, 0.2);
}

@media (min-width: 0) and (max-width: 400px) {
  #accordion h2 {
    line-height: 1.8rem;
    font-size: 1.2rem;
  }
}

#accordion h2:last-child {
  border-bottom: none;
}

#accordion h2 i {
  margin-left: .5rem;
  -webkit-transition: all 300ms ease-in 0s;
  -moz-transition: all 300ms ease-in 0s;
  -o-transition: all 300ms ease-in 0s;
  transition: all 300ms ease-in 0s;
}

.ui-accordion-content {
  padding: 0 !important;
  line-height: 1.5rem;
}

.ui-accordion-content a {
  color: #aa67a9;
}

.ui-accordion-header-icon {
  display: none !important;
}

.ui-accordion .ui-accordion-header {
  display: block;
  cursor: pointer;
  position: relative;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 100%;
}

.ui-accordion-header:focus {
  outline: none;
}

.ui-state-active i {
  outline: 0 !important;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.ui-datepicker .ui-datepicker-header {
  background: #aa67a9;
}

.ui-datepicker {
  border-radius: 8px;
  background: #f1eeee;
  box-shadow: 0px 2px 3px 2px rgba(102, 102, 102, 0.31);
  padding: 0.5rem;
}

.ui-datepicker td {
  border: 1px solid #bfbdbd;
  padding: 1px;
}

.entry-content {
  margin: 0;
}

.entry-content strong {
  color: #585757;
}

.entry-content ul {
  padding: 0 0 1rem 0;
  margin: 0 0 0 20px;
}

@media (min-width: 50em) {
  .entry-content ul {
    padding: 0 0 1rem 3rem;
    margin: 0;
  }
}

.entry-content ul li {
  padding: 0 0 1rem 0;
}

.entry-content ul li i {
  color: #aa67a9;
  font-weight: bold;
}

.entry-content ol {
  list-style: none;
  padding: 0 0 0 20px;
  margin: 0 0 0 0px;
  position: relative;
}

@media (min-width: 50em) {
  .entry-content ol {
    padding: 0 0 1.5rem 1.5rem;
    margin: 0 0 0 1rem;
  }
}

.entry-content ol li {
  counter-increment: item;
  padding: 0;
  margin: 0 0 1rem 0;
}

.entry-content ol li:before {
  color: #aa67a9;
  content: counter(item) ".";
  font-weight: bold;
  position: absolute;
  left: 0;
  padding-right: 50px;
}

.inline-header-image {
  vertical-align: bottom;
  position: relative;
  top: 8px;
  left: 4px;
  margin-right: 10px;
}

#accordion h2.last-header {
  padding: 0 0 1.1rem 0 !important;
  margin: 0 !important;
}

/*=================================
-- Table in Article
=================================*/
.article-table td {
  text-align: center;
  width: 100%;
  padding: 0;
  font-size: 0.9rem;
  border: 2px solid #c698c6;
}

.article-table tr:nth-child(1) td {
  border: none;
  padding: 1rem 0 1rem 0;
}

.article-table tr:nth-child(3) td:nth-child(1) {
  font-size: 0.8rem;
}

.article-table tr:nth-child(4) td {
  border: none;
  padding: 1rem 0 1rem 0;
  font-size: 0.8rem;
  font-style: italic;
  text-align: left;
  color: rgba(48, 48, 48, 0.7) !important;
}

.article-table tr:nth-child(2) {
  font-weight: 600;
  color: #303030;
}

.article-table tr td:nth-child(1) {
  font-weight: 600;
  color: #303030;
}

@media (min-width: 48em) {
  .article-table td {
    text-align: center;
    width: 15%;
    padding: 0.25rem;
    font-size: 0.9rem;
    border: 2px solid #c698c6;
    clear: none;
  }
}

@media (min-width: 50em) {
  .article-table td {
    text-align: center;
    width: 15%;
    padding: 0.5rem;
    font-size: 0.9rem;
    border: 2px solid #c698c6;
    clear: none;
  }
}

/*=================================
-- Video
=================================*/
.video-full {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  padding: 1.5rem 0;
}

.video-container {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  min-height: 360px;
  background: rgba(0, 0, 0, 0.5);
}

.video-container:after {
  content: " ";
  display: block;
  clear: both;
}

/*=================================
-- Partners
=================================*/
.partners {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  padding: 2rem 1.5rem 2rem 1.5rem;
  margin-bottom: 3rem;
}

.partners h3 {
  color: #6381c0;
  font-size: 1.25rem;
}

.partners .partners-inner {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.partners .partners-inner:after {
  content: " ";
  display: block;
  clear: both;
}

#prev:before {
  float: left;
  font-family: 'FontAwesome';
  content: '\f104';
  font-size: 2.2rem;
  position: relative;
  bottom: 35px;
  left: 45px;
}

#next:before {
  float: right;
  font-family: 'FontAwesome';
  content: '\f105';
  font-size: 2.2rem;
  position: relative;
  bottom: 35px;
  right: 45px;
}

.money {
  background: none !important;
}

/*=================================
-- Explore Row
=================================*/
.explore-more {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  padding: 1.5rem 0;
}

.explore-more .explore-inner {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}

.explore-more .explore-inner:after {
  content: " ";
  display: block;
  clear: both;
}

/*=================================
-- Signup
=================================*/
.signup-row {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  background: #30235e;
  padding: 1.5rem 0;
}

.signup-inner {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 1.35rem;
  color: #eee;
  text-transform: uppercase;
}

.signup-inner:after {
  content: " ";
  display: block;
  clear: both;
}

.signup-inner p {
  padding: 0;
  margin: 0;
}

/*=================================
-- Footer
=================================*/
.footer {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  padding: 0 1.5rem;
  background: #333;
  color: #CCC;
  font-size: 0.9rem;
}

.footer div.site-footer {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  padding: 3rem 0;
}

.footer div.site-footer:after {
  content: " ";
  display: block;
  clear: both;
}

.footer .footer-items {
  font-size: 0.9rem;
}

.footer .footer-items .social-icons-list-item .socicon-instagram {
  color: #FFF !important;
  background-color: #3c618c !important;
}

.footer .footer-items h2 {
  color: #6381c0;
  font-size: 1.125rem;
  font-weight: 400;
}

.footer .footer-items .social {
  display: table;
}

.footer .footer-items .social li {
  line-height: 32px;
  padding-bottom: 1rem;
}

.footer .footer-items .social li img {
  height: 32px;
  width: 32px;
  margin-right: 0.5rem;
  vertical-align: middle;
}

.footer .footer-items h6 {
  color: #6381c0;
  margin-top: 1.5rem;
  font-size: 1rem;
}

.footer .footer-items ul {
  padding: 0;
  margin: 0;
}

.footer .footer-items ul li {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #CCC;
}

.footer .footer-items ul li a {
  color: #CCC;
}

.footer .site-info {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  font-size: 0.85rem;
  padding: 1.5rem 0;
  border-top: 1px solid rgba(81, 79, 79, 0.39);
  text-align: center;
  color: #777;
}

.footer .site-info a {
  color: #777;
}

.deep-purple {
  background: #30235e;
}

.mfp-close {
  color: #30235e !important;
  opacity: 1 !important;
}

#signup-popup {
  max-width: 675px;
  margin: 20px auto;
  border-radius: 8px;
  background: #c698c6;
  position: relative;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}

#signup-popup fieldset {
  padding: 0 !important;
}

#signup-popup .frm_html_container {
  text-align: center;
}

#signup-popup h2 {
  font-size: 2rem;
  margin: 0 0 1rem 0;
  padding: 0;
  color: #30235e;
  font-weight: 600;
  line-height: 2.4rem;
  text-transform: uppercase;
}

#signup-popup .or {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 1.5rem;
  color: #30235e;
  font-weight: 400;
}

#signup-popup .frm_section_heading h3 {
  text-align: center;
  border-top: 0 !important;
  color: #30235e !important;
  padding: 1rem 0;
}

#signup-popup h4 {
  font-size: 1.1rem;
  margin: 0 0 1rem 0;
  padding: 0;
  color: #30235e;
  font-weight: 300;
  text-transform: inherit;
}

#signup-popup .close {
  top: 1rem;
  position: absolute;
  right: 0.75rem;
  margin-right: 0.5rem;
  color: #30235e !important;
  cursor: pointer;
  z-index: 900;
}

#signup-popup .close a {
  color: #30235e !important;
}

#signup-popup .get-started-form {
  padding: 1.5rem 1.5rem 0.25rem 1.5rem;
  width: 100%;
}

#signup-popup .get-started-form p {
  color: white;
  text-align: center;
  font-size: 0.9rem;
}

#signup-popup .get-started-form p a {
  color: white;
}

#signup-popup input[type="submit"] {
  border: none !important;
  box-shadow: none !important;
  text-shadow: none !important;
}

#signup-popup #field_abx5k,
#signup-popup #field_5631c,
#signup-popup #field_5hgn6 {
  color: #999 !important;
}

#signup-popup .frm_submit {
  width: 130px;
  margin: auto;
  padding-top: 1.5rem;
}

#signup-popup .frm_checkbox label {
  color: white;
  font-size: 0.85rem;
}

#signup-popup .popup-submit {
  background: #30235e !important;
  padding: 0.5rem 1rem;
  border: none !important;
  color: white;
  margin: auto !important;
  width: 130px;
  border-radius: 8px !important;
}

#signup-popup .frm_form_field.frm_fourth {
  width: 31% important;
}

#signup-popup .frm_form_field {
  clear: none !important;
}

#signup-popup .fields-left {
  width: 100%;
}

#signup-popup .fields-left label {
  color: white !important;
}

@media (min-width: 48em) {
  #signup-popup .fields-left {
    width: 36%;
    float: left;
    color: white;
    margin-left: 6rem;
  }
}

#signup-popup .fields-right {
  width: 100%;
}

#signup-popup .fields-right label {
  color: white !important;
}

@media (min-width: 48em) {
  #signup-popup .fields-right {
    width: 36%;
    float: left;
    color: white;
  }
}

@media (min-width: 48em) {
  #signup-popup .bordered-left {
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    padding-left: 2.5rem;
  }
}

#signup-popup .schwab-account-button {
  width: 57.62712%;
  border-radius: 8px;
  margin: auto;
  background: #30235e;
  color: #FFF;
  text-transform: uppercase;
  padding: 0.75rem 1rem;
  margin-top: 1rem;
  border-radius: 8px;
  margin: auto;
  background: #30235e;
  color: #FFF;
  text-transform: uppercase;
  padding: 0.75rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

#signup-popup .schwab-account-button a {
  color: white;
}

#signup-popup .frm_message {
  font-size: 1.5rem;
  color: white !important;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  background: none !important;
  border: none;
}

#signup-popup .frm_message p {
  color: white;
  font-size: 1.5rem;
}

#frm_form_8_container #field_9psly {
  color: #999 !important;
}

.popup,
#leaving-popup,
#leaving-popup2 {
  max-width: 500px;
  margin: 20px auto;
  border-radius: 8px;
  background: #c698c6;
  position: relative;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}

.popup .leaving-info,
#leaving-popup .leaving-info,
#leaving-popup2 .leaving-info {
  position: relative;
  width: 100%;
  margin: auto;
  min-height: 164px;
  padding: 0.75rem 2rem;
  text-align: center;
}

.popup .leaving-info h3,
#leaving-popup .leaving-info h3,
#leaving-popup2 .leaving-info h3 {
  text-align: center;
  position: relative;
  top: 21px;
  color: #30235e;
  margin-bottom: 3rem;
  margin-top: 0;
  line-height: 1.75rem !important;
}

.popup .leaving-info a,
#leaving-popup .leaving-info a,
#leaving-popup2 .leaving-info a {
  display: inline-block;
  margin: auto;
  padding: 0.5rem 1rem;
  text-align: center;
  color: #fff;
}

.popup .leaving-info a:hover,
#leaving-popup .leaving-info a:hover,
#leaving-popup2 .leaving-info a:hover {
  color: #fff;
}

.popup .leaving-info .warning-button,
#leaving-popup .leaving-info .warning-button,
#leaving-popup2 .leaving-info .warning-button {
  max-width: 45%;
  margin-bottom: 1rem;
  background: #30235e;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.9rem;
}

.close {
  top: 1rem;
  position: absolute;
  right: 0.75rem;
  margin-right: 0.5rem;
  color: #30235e !important;
  cursor: pointer;
  z-index: 900;
}

.close a {
  color: #30235e !important;
}

.signup-row .widget {
  margin: 0 !important;
}

.signup-row .widget a {
  color: #FFFFFF;
}

.signup-row .widget a:hover {
  color: #FFFFFF;
}

#player {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: none !important;
  overflow: hidden !important;
  border-radius: 8px !important;
}

.player .video-wrapper {
  background: none !important;
  border-radius: 8px !important;
  overflow: hidden !important;
}

.nominee-form {
  padding: 1.5rem;
  background: #e4d4e5;
  border-radius: 8px;
}

.nominee-form h2.widget-title {
  display: none;
}

.nominee-form h2 {
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.nominee-form h4 {
  font-weight: 500;
}

.nominee-form h2, .nominee-form h4 {
  color: #30235e;
}

/*=================================
-- Video Archive 
=================================*/
.video-archive-container {
  width: 22.85714%;
  float: left;
}

.video-archive-container:nth-child(4n + 1) {
  margin-left: 0;
  margin-right: -100%;
  clear: both;
  margin-left: 0;
}

.video-archive-container:nth-child(4n + 2) {
  margin-left: 25.71429%;
  margin-right: -100%;
  clear: none;
}

.video-archive-container:nth-child(4n + 3) {
  margin-left: 51.42857%;
  margin-right: -100%;
  clear: none;
}

.video-archive-container:nth-child(4n + 4) {
  margin-left: 77.14286%;
  margin-right: -100%;
  clear: none;
}

.video-archive-container .post-thumb {
  width: 100%;
  margin-bottom: 0.5rem;
  text-align: center;
}

.video-archive-container h2.widget-title {
  font-size: 1rem;
  text-align: center;
  line-height: 1.4rem;
}
