@import "../../bower_components/susy/sass/susy";

$susy: (container: 980px, gutters: 0.5, columns: 12, gutter-position: after, debug: (image: hide));
$map: layout(auto 12 30px / 65px after fluid isolate);

// General Dims to  use with some in betweens
// 320  ~ 20em
// 480  ~ 30em
// 560 	~ 35em
// 600  ~ 37.5em
// 768  ~ 48em
// 800  ~ 50em
// 900  ~ 56.25em
// 1024 ~ 64em
$mobile: 20em;
$tablet: 48em;
$desktop: 50em;
$med-desktop: 56.25em;
$largedesktop: 64em;
$purple: rgba(170, 103, 169, 1);
$dark-purple: rgba(48, 35, 94, 1);
$charm-blue: rgba(99, 129, 192, 1);
$pink: rgba(198, 152, 198, 1);
$gray: rgba(102, 102, 102, 1);

@mixin nth-last($n, $type: child) {
    &:nth-#{$type}(#{$n}) {
        @include last;
    }
}