/*=================================
-- Money Category Landing Page
=================================*/

.featured-img-w-title {
    .widget-title {
        text-align: center;
        font-size: 1.3rem;
        padding: 0 1rem;
        color: $purple;
    }
}

.featured-article-w-image-left {
    .widget-title {
        font-size: 1.3rem;

        a {
            color: $purple;
        }
    }
}

/*=================================

=================================*/

.featured-half-with-title-excerpt {
    .widget-title {
        font-size: 1.3rem;
    }

    .p1 {
        margin: 0;
        padding: 0;
    }

    img {
        margin-bottom: 0.25rem;
    }
}

/*=================================
-- Post Excerpts w Thumb
=================================*/

.post-container {
    @include span(12);

    margin-bottom: 1.5rem;

    .post {
        @include span(12);
    }

    .post-thumb {
        @include span(12);

        @include susy-media($tablet) {
            @include span(3 of 12 first);
        }


        @include susy-media($desktop) {
            @include span(3 of 12 first);

            margin-top: 0.5rem;
        }
    }

    .post-content {
        @include span(12);

        @include susy-media($desktop) {
            @include span(8 of 12);
        }
    }
}

.post-container {
    h2 {
        a {
            color: $purple;
        }
    }
}

.front-post-thumb,
.post-thumb {
    width: 213px;
    height: 150px;
    border-radius: 8px;
    margin-bottom: 2rem;
    overflow: hidden !important;
    position: relative;
    z-index: 1;

    @include susy-media($tablet) {
        width: 150px;
    }


    @include susy-media($desktop) {
        height: 120px;
    }


    @include susy-media($largedesktop) {
        height: 160px;
    }


    &:hover .post-cover {
        opacity: 1;
        top: 0;
    }

    .post-cover {
        width: 100%;
        height: 100%;
        border-radius: 8px;
        background: rgba(48, 35, 94, 0.7);
        position: absolute;
        z-index: 2;
        top: 0;
        opacity: 0;
        transition: all 0.5s ease-in-out;
        padding: 0;
        cursor: pointer;

        .caption {
            position: absolute;
            top: 39px;
            color: white;
            z-index: 4;
            width: 100%;
            height: 100%;
        }

        a {
            display: block;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            position: relative;
            text-align: center;
            padding: 0;
            margin: 0;
            color: white;
        }

        img {
            height: 80px;
            width: 146px;
        }

        p {
            display: block;
            vertical-align: middle;
            text-align: center;
            color: white;
            font-weight: 600;
            padding: 1.75rem 1.75rem 1rem 1.75rem;
            margin: 0;

            &:first-child {
                padding-bottom: 1rem;
            }
        }

        .thumb-generic-linker {
            font-style: italic;
            font-weight: 100;
            font-size: 0.95rem;
            padding: 2.2rem 1.75rem 1rem 1.75rem;
            height: 100%;

            i {
                display: block;
                padding-top: 0.5rem;
                font-size: 1.3rem;
            }

            @include susy-media(800px 1024px) {
                padding: 1.2rem 1rem 1rem 1rem;
            }
        }
    }

    img {
        width: 100%;
        height: auto;
    }

    img {
        position: relative;
        z-index: 0;
    }
}