/*===================================
    Import: Cornered Embellishments
===================================*/

$normalborder: 2.25em;


.purple-corner {
    .post-corner {
        position: relative;
        z-index: 3;
    }

    .post-corner::before,
    .post-corner::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        border-color: transparent;
        border-style: solid;
    }

    .post-corner::after {
        border-left-radius: 0.5em;
        border-width: $normalborder;
        border-left-color: rgba( $purple, .9);
        border-top-color: rgba( $purple, .9);
    }
}

.large-purple-corner {
    @extend .purple-corner;

    .post-corner::after {
        border-width: 3em;
        
    }
}

.blue-corner {
    .post-corner {
        position: relative;
        z-index: 3;
    }

    .post-corner::before,
    .post-corner::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        border-color: transparent;
        border-style: solid;
    }

    .post-corner::after {
        border-left-radius: 0.5em;
        border-width: $normalborder;
        border-left-color: rgba( $charm-blue, .9);
        border-top-color: rgba( $charm-blue, .9);
    }
}

.large-blue-corner {
    @extend .blue-corner;

    .post-corner:after {
        border-width: 3em;
       
    }
}

.dk-purple-corner {
    .post-corner {
        position: relative;
        z-index: 3;
    }

    .post-corner::before,
    .post-corner::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        border-color: transparent;
        border-style: solid;
    }

    .post-corner::after {
       border-left-radius: 0.5em;
        border-width: $normalborder;
        border-left-color: rgba( $dark-purple, .9);
        border-top-color: rgba( $dark-purple, .9);
    }
}

.large-dk-purple-corner {
    @extend .dk-purple-corner;

    .post-corner:after {
        border-width: 3em;
       
    }
}

.gray-corner {
    .post-corner {
        position: relative;
        z-index: 3;
    }

    .post-corner::before,
    .post-corner::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        border-color: transparent;
        border-style: solid;
    }

    .post-corner::after {
        border-left-radius: 0.5em;
        border-width: $normalborder;
         border-left-color: rgba( $gray, .9);
        border-top-color: rgba( $gray, .9);
    }
}

.large-gray-corner {
    @extend .gray-corner;

    .post-corner:after {
        border-width: 3em;
        
    }
}