.contact-nominee-submit {
    display: block;
    padding: 0.75rem 1rem;
    background: $dark-purple;
    transition: 0.1s linear 0.1s;
    width: 20%;
    border-radius: 8px;
    text-align: center;
    color: white !important;
    font-size: 14px !important;
    line-height: 1;

    &:hover {
        background: $purple;
    }
}

.contact-submit {
    padding: 0 !important;

    input[type="submit"] {
        display: block;
        width: 20% !important;
        padding: 0.75rem 1rem !important;
        background: $dark-purple;
        border: none;
        box-shadow: none !important;
        text-shadow: none !important;
        color: white !important;
        border-radius: 8px;
        font-size: 14px;
        transition: 0.1s linear 0.1s;

        &:hover {
            background: $purple;
        }
    }
}

.nominee-submit {
    padding: 0 !important;

    input[type="submit"] {
        display: block;
        width: 40% !important;
        padding: 0.75rem 1rem !important;
        background: $dark-purple;
        border: none;
        box-shadow: none !important;
        text-shadow: none !important;
        color: white !important;
        border-radius: 8px;
        font-size: 14px;
        transition: 0.1s linear 0.1s;

        &:hover {
            background: $purple;
        }
    }
}