#pg-84-1 {
    margin-bottom: 0 !important;
}

/*  Carousel - Overlay */

.sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail a span.overlay {
    background: rgba(48, 35, 94, 1) !important;
    width: 200px !important;
    height: 170px !important;
}

.sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail a:hover span {
    opacity: .75 !important;
}

.slider-row {
    h2 {
        margin-bottom: 0 !important;
    }
}

.sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item {
    list-style: none;
    margin-left: 0;
    padding: 0;
    display: block;
    float: left;
    margin-right: 15px;
    width: 200px !important;
    height: 300px !important;
}

.sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail {
    border-radius: 8px !important;
    overflow: hidden;

    .overlay {
        border-radius: 8px;
        width: 200px !important;
        height: 170px !important;
    }
}

.sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail a {
    display: block;
    width: 235px !important;
    height: 170px !important;
    background-size: 235px 170px !important;
    background-position: center center;
}

.category-brave-and-beyond .so-widget-sow-post-carousel .sow-carousel-title {
    position: relative !important;
}

.category-brave-and-beyond .sow-carousel-wrapper {
    width: 630px !important;
}

.category-brave-and-beyond .so-widget-sow-post-carousel {
    .sow-carousel-next {
        float: right;
        margin-right: 90px !important;
        margin-top: 100px !important;
        color: $purple !important;
        font-size: 3.5rem !important;
        background: white !important;
        line-height: 56px !important;
    }

    .sow-carousel-previous {
        float: left;
        position: absolute !important;
        left: -63px !important;
        top: 98px !important;
        margin-left: 0 !important;
        margin-top: 0 !important;
        color: #aa67a9 !important;
        font-size: 3.5rem !important;
        background: white !important;
        line-height: 1 !important;
        z-index: 999;
    }
}

.category-brave-and-beyond .sow-carousel-title a.sow-carousel-previous:before {
    font-family: 'FontAwesome';
    content: '\f104' !important;
}

.category-brave-and-beyond .sow-carousel-title a.sow-carousel-next:before {
    font-family: 'FontAwesome';
    content: '\f105' !important;
}

.category-brave-and-beyond #pgc-6-2-1,
.category-brave-and-beyond #pgc-6-3-1 {
    margin-left: 80px !important;
}

.category-brave-and-beyond {
    h2.last-header {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1.5rem;
        width: 437px;
    }

    h2.last-header a {
        color: $purple;
    }
}

/*------------------------------------------*/

.postid-281, .single-post {
    .sow-carousel-wrapper {
        max-width: 630px;
    }

    .so-widget-sow-post-carousel .sow-carousel-title {
        position: relative !important;
    }

    .sow-carousel-next {
        float: right;
        margin-right: -25px !important;
        margin-top: 100px !important;
        color: $purple !important;
        font-size: 3.5rem !important;
        background: white !important;
        line-height: 56px !important;
    }

    .sow-carousel-previous {
        float: left;
        position: absolute !important;
        left: -43px !important;
        top: 100px !important;
        margin-left: 0 !important;
        margin-top: 0 !important;
        color: #aa67a9 !important;
        font-size: 3.5rem !important;
        background: white !important;
        line-height: 1 !important;
        z-index: 999;
    }

    .sow-carousel-title a.sow-carousel-previous:before {
        font-family: 'FontAwesome';
        content: '\f104' !important;
    }

    .sow-carousel-title a.sow-carousel-next:before {
        font-family: 'FontAwesome';
        content: '\f105' !important;
    }
}