/*=================================
-- Partners
=================================*/

.partners {
    @include span(full);

    text-align: center;
    padding: 2rem 1.5rem 2rem 1.5rem;
    margin-bottom: 3rem;

    //background: rgba(248, 243, 247, 1);

    h3 {
        color: $charm-blue;
        font-size: 1.25rem;
    }

    .partners-inner {
        @include container;

        text-align: center;
    }
}

#prev:before {
    float: left;
    font-family: 'FontAwesome';
    content: '\f104';
    font-size: 2.2rem;
    position: relative;
    bottom: 35px;
    left: 45px;
}

#next:before {
    float: right;
    font-family: 'FontAwesome';
    content: '\f105';
    font-size: 2.2rem;
    position: relative;
    bottom: 35px;
    right: 45px;
}