.videos {
    .featured-post-third {
        @include span(12);

        @include susy-media(600px 767px) {
            @include gallery(6 of 12 (gutters: 1));
        }


        @include susy-media($tablet) {
            @include gallery(4 of 12 (gutters: 1));
        }


        .featured-thumb-third {
            @include span(12);

            height: 242px;
            position: relative;
            border-radius: 8px;
            overflow: hidden !important;
            z-index: 1;

            @include susy-media(427px 446px) {
                height: 254px;
            }


            @include susy-media(447px 475px) {
                height: 274px;
            }


            @include susy-media(476px) {
                height: 287px;
            }


            @include susy-media(500px 599px) {
                height: 307px;
            }


            @include susy-media(600px 767px) {
                height: 186px;
            }


            @include susy-media(768px) {
                height: 155px;
            }


            @include susy-media(800px) {
                height: 164px;
            }


            @include susy-media(869px) {
                height: 175px;
            }


            @include susy-media(925px 996px) {
                height: 187px;
            }


            @include susy-media(997px) {
                height: 210px;
            }


            .attachment-post-thumbnail {
                height: auto;
                max-width: 100% !important;
            }

            img {
                height: 100%;
                max-width: 100%;
            }

            &:hover .post-cover {
                opacity: 1;
                top: 0;
            }
        }

        .featured-title {
            text-align: center;

            h2 {
                font-size: 1.1rem;
                padding: 0.5rem;
            }
        }

        .thumb-generic-linker {
            font-style: italic;
            font-style: italic;
            font-weight: 200;
            font-size: 1.05rem;
            padding: 1.2rem 1.75rem 1rem 1.75rem;
            height: 100%;

            i {
                display: block;
                padding-top: 0.5rem;
                font-size: 1.3rem;
            }
        }
    }
}