/*====================================
    Brave and Beyond Widget
====================================*/
.brave-beyond-wgt {
    width: 100%;
    float: left;
    background: $dark-purple;
    text-align: center;
    padding: 1.1rem 0;
}

.nominate-button {
    width: span(75%);
    background: $dark-purple;
    height: 75px;
    border-radius: 8px;
    line-height: 75px;
    text-align: center;
    margin: 0 auto 0 auto;
    transition: 0.3s linear 0.3s;
    display: block;

    a {
        color: white;

        i {
            margin-left: 0.5rem;
        }
    }

    &:hover {
        background: $purple;
    }

    @include susy-media($desktop) {
        margin: 4rem auto 0 auto;
    }
}

.bandb-image {
    width: 100%;
    min-height: 45px;
    float: left;
    text-align: center;

    img {
        height: auto;
        width: 100%;

        @include susy-media(401px 767px) {
            width: 290px;
            max-width: 100%;
        }
    }
}

.hero-right .jemma-module:first-child {
    margin-bottom: 1.2rem;
}

/*====================================
    Sign up Widget
====================================*/

.signup-wgt {
    background: $purple;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.85rem;
    font-weight: 400;
    padding: 1.25rem 1rem;

    a {
        color: white;
    }

    /*=================================
    -- Small Signup Edit
    =================================*/
    .sm-connect-w-us {
        font-size: 1.2rem;
        font-weight: 600;
    }
}

/*====================================
    Large Purple Sign up Widget
====================================*/

.lg-signup-wgt {
    background: $purple;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.25rem;
    padding: 1.25rem 1rem;
    font-weight: 600;

    @include susy-media($desktop) {
        height: 200px;
        display: table-cell;
        vertical-align: middle;
    }


    a {
        color: white;
    }

    .smaller-signup-text {
        font-size: 1rem;
        display: block;
        font-weight: 400;
        padding: 0 1.5rem 0 1.5rem;
        margin-top: 1.0rem;
    }

    /*=================================
    -- Small Signup Edit
    =================================*/
    .sm-connect-w-us {
        font-size: 1.2rem;
        font-weight: 600;
    }
}

/*====================================
    Bigger Sign up Widget
====================================*/

.og-signup-wgt {
    @include span(12);

    height: 200px;
    padding: 1rem;
    color: $purple;
    text-align: center;
    display: table-cell;
    vertical-align: top;
    font-weight: 500;
    font-size: 1rem;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    .connect-w-us {
        font-weight: 800;
        font-size: 1.2rem;
        display: inline-block;
        margin: 0 0 6px 0;
    }

    .button {
        text-transform: uppercase;
        background: $purple;
        padding: 0.5rem 2rem;
        border-radius: 8px;
        color: white;
        font-size: 0.95rem;
        font-weight: 500;
        margin: 1rem auto;
        display: block;
        width: 70%;
        transition: 0.1s linear 0.1s;

        &:hover {
            background: $dark-purple;
        }
    }

    @include susy-media(480px 541px) {
        height: 212px;
        font-size: 1rem;

        @include span(12);
    }


    @include susy-media($desktop) {
        max-height: 200px;
        font-size: 1rem;
    }
}

/*====================================
    Visit Jemma Financial Widget
====================================*/

.visit-jemfinancial-wgt {
    height: 160px;
    background: $dark-purple;

    .top {
        width: 100%;
        height: 55%;
        text-align: center;

        img {
            width: 210px;
            height: 90px;
        }
    }

    .bottom {
        background: $dark-purple;
        height: 45%;
        width: 100%;
        text-align: center;
        display: table;

        a {
            color: white;
            text-transform: uppercase;
            display: block;
            display: table-cell;
            vertical-align: middle;
        }
    }
}

.left-panel-content {
    padding-right: 3.5rem;
}

.so-panel {
    margin-bottom: 0 !important;
}