html {
    font-size: 100%;
    line-height: 1.5;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

@import "base";
@import "mfp";

body {
    margin: 0;
    padding: 0;
    background: #fff;
    color: #777;
    font-weight: 500;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0 0 1rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $purple;
}

a {
    text-decoration: none;
}

#page {
    @include container($susy);

    @include susy-media(0 $largedesktop) {
        padding: 0 1.5rem;
    }
}

@import "corners";
@import "tooltips";

/*=================================
-- Header
=================================*/

.site-header {
    @include span(12);

    position: relative;

    @include susy-media($desktop) {}


    @include susy-media($largedesktop) {
        padding: 2rem 0 0 0;
    }
}

.lance {
    width: 100px;
}

.logo {
    width: span(7);
    margin: auto;
    padding: 1.5rem 0;

    img {
        width: 100%;
        height: auto;
    }

    @include susy-media(32em) {
        width: 265px;
    }


    @include susy-media($desktop) {
        @include span(4 first);

        img {
            width: 265px;
            height: auto;
        }
    }


    @include susy-media($largedesktop) {
        @include span(3 wide first);
    }
}

.header-actions {
    @include span(12);

    @include susy-media(50em 64em) {
        @include span(39%);

        margin-top: 1.5rem;
    }


    @include susy-media($largedesktop) {
        width: span(6);
        float: left;
        margin-top: 1.5rem;
        padding-right: 1rem;
    }


    .jemma-financial-link {
        margin: 0 1.5rem 0 auto;
        padding: 0.55rem;
        text-align: center;
        font-size: 0.9rem;
        line-height: 0.9rem;
        width: span(12);
        color: $purple;

        a {
            color: $purple;
        }

        @include susy-media($desktop) {
            margin: 0 0.5rem 0 auto;
            text-align: right;
            width: 52%;
            float: right;
            font-size: .8rem;
        }


        @include susy-media($largedesktop) {
            font-size: .9rem;
        }
    }

    .jemma-everyday-social-links {
        margin: 0 auto 0 auto;
        text-align: center;

        .social-icons-list-item .socicon-instagram {
            color: #FFF !important;
            background-color: #3c618c !important;
        }

        .social-icons {
            ul {
                padding: 0;
                margin: 0;

                li {
                    margin: 0;
                    padding: 0;
                    display: inline-block !important;
                }
            }
        }

        .social-icons-lists .socicon {
            border-radius: 4px;
        }

        a {
            margin-right: 6px;
        }

        img {
            width: 32px;
            height: 32px;
        }

        @include susy-media($desktop) {
            margin: 0 auto 1rem auto;
            text-align: right;
            float: right;
        }
    }
}

.social {
    .social-icons-lists {
        li {
            display: block !important;
            margin-bottom: 0.75rem !important;
        }

        .socicon {
            border-radius: 4px !important;
        }
    }
}

.jemma-band {
    width: span(100%);
    text-align: center;

    @include susy-media(50em 64em) {
        @include span(24%);

        position: absolute;
        top: -140px;
        right: 0;
        height: 255px;
        background: $purple;
        color: white;
        text-align: left;
        border-radius: 8px;
        padding: 9.5rem 1rem 0 1rem;
        margin-right: 0;

        a {
            color: white;

            &:hover {
                color: white;
            }
        }

        p:first-child {
            text-transform: uppercase;
            font-weight: bold;
        }

        p:last-child {
            font-size: 0.95rem;
        }
    }


    @include susy-media($largedesktop) {
        position: absolute;
        top: -140px;
        right: 0;
        width: span(19%);
        background: $purple;
        height: 346px;
        border-radius: 8px;
        z-index: 200;
        padding: 12.5rem 1rem 0 1rem;
        color: white;
        text-align: left;

        a {
            color: white;

            &:hover {
                color: white;
            }
        }

        p:first-child {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 1.35rem;
            line-height: 1.75rem;
        }

        p:last-child {
            font-size: 0.95rem;
            margin-top: 1.5rem;
        }
    }
}

.header-search {
    width: span(12);
    float: left;
    margin: 0 auto 1.5rem auto;

    @include susy-media($desktop) {
        width: span(4);
        float: right;
    }


    @include susy-media($largedesktop) {
        width: span(3);
        float: right;
    }


    input[type="search"] {
        padding: 0.5rem !important;
        width: 100%;
        border: 2px solid rgba(51, 51, 51, 0.2);
        border-radius: 8px;
        outline: none;
        font-family: 'Raleway', sans-serif;
        color: #ccc;
        font-size: 0.85rem;
        line-height: 0;
    }

    .search {
        .search-inner {
            position: relative;
        }

        button {
            background: none;
            border: none;
            outline: none;
            position: absolute;
            right: 0.65rem;
            top: 3px;
            bottom: 0.35rem;
            padding: 0.1rem;
            cursor: pointer;

            .fa-search {
                color: rgba(51, 51, 51, 0.2);
            }
        }
    }
}

/*=================================
-- Navigation
=================================*/

.menu-toggle {
    width: span(12);
    text-align: center;
    display: block;
    float: left;
    margin-top: 1rem;

    button {
        border: none;
        padding: 0.75rem 1.2rem;
        font-size: 1rem;
        background: rgb(142, 77, 141);
        color: white;
        outline: none;
        cursor: pointer;
        width: span(12);
        text-align: right;

        &:before {
            font-family: 'FontAwesome';
        }
    }
}

.primary-navigation {
    @include span(12);
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;

    li {
        border-bottom: 1px solid rgba(191, 145, 190, 1);
        padding: 0.5rem 0;
        background: $purple;
        transition: 0.1s linear;

        &:last-child {
            border-bottom: none;
        }

        &:hover {
            //background: $dark-purple;
       
        }

        a {
            padding: 0.35rem 0 0.35rem 1.5rem;
            display: block;
            color: white;
            font-size: 0.9rem;
        }
    }
}

.sub-menu {
    padding: 0;
    margin: 0;

    li {
        list-style: none;
        padding-left: 1rem;
        border-bottom: none;
    }
}

.expanded {
    display: block;
}

@include susy-media($desktop) {
    .menu-toggle {
        display: none;
    }

    .primary-navigation {
        margin-bottom: 1.5rem;
        margin-top: 1rem;
        display: table;
    }

    .menu {
        list-style: none;
        margin: 0;
        width: span(75%);
        position: relative;
        display: table-cell;
        display: flex;
        justify-content: space-between;

        li {
            background: none;
            border: none;
            display: inline-block;
            padding: 0 1rem;

            &:first-child {
                padding-left: 0;
            }

            //border: 1px solid red;
            &:hover {
                background: none;

                .sub-menu {
                    visibility: visible;

                    /* hides sub-menu */
                    opacity: 1;
                    top: 100%;
                    transform: translateY(0%);
                    transition-delay: 0s, 0s, 0.3s;
                }
            }

            &:nth-of-type(2) {
                cursor: default;
            }

            a {
                padding: 0.25rem 0;
                display: block;
                color: #333;
                font-size: 0.9rem;
                font-weight: 600;
            }
        }
    }

    .sub-menu {
        position: absolute;
        z-index: 4;

        /* hides sub-menu */
        visibility: hidden;
        opacity: 0;
        top: 100%;
        transform: translateY(1em);
        transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
        overflow: hidden;
        min-width: 245px;
        background: #f7fafd;
        border-radius: 8px;
        -webkit-box-shadow: -6px 9px 18px -2px rgba(0, 0, 0, 0.25);
        -moz-box-shadow: -6px 9px 18px -2px rgba(0, 0, 0, 0.25);
        box-shadow: -6px 9px 18px -2px rgba(0, 0, 0, 0.25);

        li {
            display: block;
            padding: 0.5rem 0 0.5rem 1rem;
            border-bottom: 1px solid rgba(224, 234, 245, 0.5);

            &:first-child {
                padding-left: 1rem;
            }

            &:hover {
                &:nth-of-type(1n) {
                    background: $charm-blue;
                }

                &:nth-of-type(2n) {
                    background: $purple;
                }

                &:nth-of-type(3n) {
                    background: $gray;
                }

                &:nth-of-type(4n) {
                    background: $dark-purple;
                }
            }

            &:hover a {
                color: white;
            }
        }
    }
}


@include susy-media($largedesktop) {
    .menu {
        padding: 0;
        margin-top: 1.5rem;
    }
}


/*=================================
-- Subheader
=================================*/

.subheader {
    @include span(12);

    margin-top: 1.5rem;

    @include susy-media(30em) {
        margin-bottom: 0;

        @include span(12);
    }


    @include susy-media($desktop) {
        margin: 0;

        @include span(12);
    }


    @include susy-media($largedesktop) {
        margin: 0;

        @include span(12);

        padding: 0;
    }
}

.category-family,
.category-life,
.category-money,
.category-work,
.blog,
.videos,
.meet-us,
.our-partners,
.contact-us {
    .hero {
        height: 280px;

        @include susy-media($desktop) {
            height: 200px;
        }
    }
}

.hero {
    @include span(12);

    border-radius: 10px;
    overflow: hidden !important;
    position: relative;
    z-index: 1;
    height: 145px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;

    @include susy-media($med-desktop) {
        height: 200px;
        background-position: 100%;
    }


    .hero-left {
        @include span(12);

        margin: 0;

        @include susy-media($desktop) {
            @include span(8 wide);

            min-height: 381px;
        }
    }

    .hero-left-interior {
        @include span(12);

        background-repeat: no-repeat;
        height: 100px;
        background-image: none;
        margin-bottom: 1.5rem;
        border-radius: 10px;
        overflow: hidden !important;

        .inner-hero-content {
            height: 100%;
            width: 100%;
            padding: 0;
            line-height: 100px;
            text-align: center;
            background: $charm-blue;

            h1 {
                color: white;
            }
        }

        @include susy-media($desktop) {
            @include span(8 wide);

            height: 200px;
            margin-bottom: 0;
            background-image: visible !important;

            .inner-hero-content {
                height: 100%;
                line-height: 300px;
                padding: 0 0 0 3rem;
                text-align: left;
                background: none !important;

                h1 {
                    color: $dark-purple;
                }
            }
        }
    }

    .hero-left-interior-full {
        @include span(12);

        min-height: 200px;
        background: rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }

    .hero-right {
        @include span(12);

        @include susy-media($desktop) {
            @include span(3 wider last);

            height: 200px;
        }
    }
}

.jemma-module {
    @include span(12);

    //background: rgba(0, 0, 0, 1);
    //height: 200px;
    //max-height: 200px;
    overflow: hidden;
    border-radius: 8px;
    display: table;
    margin-bottom: 1.5rem;

    &:nth-child(1) {}

    @include susy-media(30em) {
        @include span(12);

        @include nth-last(2);
    }


    @include susy-media($desktop) {
        @include span(12);
    }
}

.jemma-homepage {
    .jemma-module {
        @include susy-media(30em) {
            @include span(6 nested);

            @include nth-last(2);
        }


        @include susy-media($desktop) {
            @include span(12);
        }
    }
}

/*=================================
-- New Homepage Slider
=================================*/

.msHtmlOverlay {
    .slider-button {
        border-radius: 8px !important;
        padding: .75rem 0.25rem !important;
        color: white !important;
        display: block;
        text-align: center;
    }

    .purple {
        background: $purple;
    }

    .dk-purple {
        background: $dark-purple;
    }
}

/*----------------------
   Hero h1's
----------------------*/

.category-money .inner-hero-content {
    h1 {
        color: white !important;

        @include susy-media($desktop) {
            color: $charm-blue !important;
        }
    }
}

.category-family .inner-hero-content {
    background: $purple !important;

    h1 {
        color: white !important;

        @include susy-media($desktop) {
            color: $purple !important;
        }
    }
}

.category-work .inner-hero-content {
    background: $gray !important;

    h1 {
        color: white !important;

        @include susy-media($desktop) {
            color: $gray !important;
        }
    }
}

.category-life .inner-hero-content {
    background: $dark-purple !important;

    h1 {
        color: white !important;

        @include susy-media($desktop) {
            color: $dark-purple !important;
        }
    }
}

.brave-and-beyond .hero {
    background-position: -9000px -9000px;
    height: 95px;

    @include susy-media($tablet) {
        background-position: 0 0;
        height: 145px;
    }


    @include susy-media($med-desktop) {
        height: 200px;
    }
}

.brave-and-beyond .inner-hero-content {
    display: block;

    @include susy-media($tablet) {
        display: none;
    }
}

.contact-bullets {
    ul {
        padding: 0 0 1.5rem 3rem;
        margin: 0;
        list-style: none;
    }

    li {
        padding: 0 0 1rem 0;

        i {
            color: $purple;
            font-weight: bold;
        }
    }
}

@import "forms";
@import "widgets";

/*=================================
-- Main
=================================*/

.main {
    @include span(full);

    @include break;

    padding: 2rem 0 0 0;
}

.introduction {
    @include span(12);

    border-bottom: 2px solid #30235e;

    @include susy-media($desktop) {
        @include span(11 of 12);

        padding-bottom: 0.75rem;
    }


    margin: 0 0 2rem 0;
}

.site-content {
    @include span(12);

    &:first-child {
        padding-top: 0;
    }

    @include susy-media($desktop) {
        @include span(12);
    }


    @include susy-media($largedesktop) {
        padding: 0;

        @include span(12);
    }
}

.primary {
    @include span(12);

    min-height: 450px;
    background: rgba(0, 0, 0, 0);

    h1 {
        color: $purple;
    }

    .entry-title {
        margin-bottom: 1rem !important;
    }

    @include susy-media($desktop) {
        @include span(8 wide);

        padding-right: 1.5rem;
        min-height: 450px;
    }
}

.primary-full {
    @include span(12);
}

.secondary {
    @include span(12);

    background: rgba(0, 0, 0, 0);

    .rounded {
        border-radius: 8px;
        overflow: hidden;
    }

    @include susy-media($desktop) {
        @include span(3 wider last);
    }
}

.news-article {
    margin-bottom: 2rem;
}

h2.widget-title {
    a {
        color: $purple;

        &:hover {
            color: $purple;
        }
    }
}

.readmore {
    color: $purple;
    font-weight: 600;
}

.add-vert-spacing {
    padding: 2rem 0;
}

.article-author {
    @include span(12);

    margin-bottom: 2.5rem;

    img {
        float: left;
        border-radius: 8px;
        margin-right: 1rem;
    }
}

.author-thumb {
    @include span(4);

    @include susy-media($tablet) {
        @include span(3);
    }


    @include susy-media($desktop) {
        @include span(2 wide of 12 first);
    }


    img {
        border-radius: 8px;
    }
}

.author-info {
    p em {
        font-size: 0.85rem;
    }

    .sub-title {
        font-size: 0.85rem;
    }

    @include susy-media($desktop) {
        @include span(8 of 12);
    }
}

.article-body-image {
    border-radius: 8px;
    margin: 1rem 0;
}

.disclosure {
    font-style: italic;
    border-top: 1px solid #777;
    padding-top: 1.5rem;
}

// All New Author Page Styles....
// Added Late in the Game

.post-info {
    margin-bottom: 2rem;
}

.posted-on {
    margin: 0;
    padding: 0 0 1.5rem 0;
}

.posted-by {
    margin: 0;
    padding: 0;

    a:nth-of-type(1) {
        display: none;
    }
}

.author-content {
    @include span(12);

    margin-bottom: 4rem;
}

.author-entry-intro {
    @include span(12);

    display: table;
    vertical-align: middle;
    border-bottom: 2px solid $dark-purple;
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;

    img {
        float: left;
        margin-right: 2rem;
    }

    p {
        padding: 0.65rem 0 0 0;
        margin: 0;
        font-size: 0.85rem;
        font-style: italic;
        width: 70%;
        float: left;
        display: table-cell;
    }

    h2 {
        margin: 0;
        padding: 0;
        display: inline-block;
    }

    .author-details {}
}

.author-entry-meta {
    font-size: 0.85rem;
    font-style: italic;
}

.author-entries {
    @include span(12);

    clear: left;

    .articles-by {
        font-style: italic;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            padding: 1.5rem 0;
            border-bottom: 1px solid #CCC;

            &:first-child {
                padding-top: 0;
            }

            &:last-child {
                border-bottom: none;
            }
        }
    }
}

.for {
    font-style: italic;
    font-size: 0.85rem;
}

.apss-social-share {
    border-top: 2px solid $dark-purple;
    margin: 1.5rem 0;
    padding: 1.5rem 0;
}

.apss-theme-2 .apss-single-icon a {
    position: relative;
    display: block;
    float: left;
    margin: 10px 8px;
    color: #fff;

    &:first-child {
        margin-left: 0;
    }
}

.apss-share-text {
    opacity: 1;
    line-height: 16px;
    color: #222 !important;
    font-size: 16px;
    font-family: 'Raleway', sans-serif !important;
    margin-left: 0;
}

.apss-icon-block {
    border-radius: 6px;
}

@import "category-content-sections";
@import "grid-fixes";

/*=================================
-- Front Page
=================================*/

.featured-post-half {
    @include span(12);

    @include susy-media($tablet) {
        @include span(6 of 12);

        @include nth-last(2);
    }


    .featured-thumb-third {
        @include span(12);

        position: relative;
        border-radius: 8px;
        overflow: hidden !important;
        height: 189px;
        z-index: 1;

        .thumb-generic-linker {
            font-style: italic;
            font-weight: 100;
            font-size: 0.95rem;
            padding: 2.2rem 1.75rem 1rem 1.75rem;
            height: 100%;

            i {
                display: block;
                padding-top: 0.5rem;
                font-size: 1.3rem;
            }

            @include susy-media(800px 1024px) {
                padding: 1.2rem 1rem 1rem 1rem;
            }
        }

        @include susy-media($desktop) {
            height: 270px;
        }


        .attachment-post-thumbnail {
            height: auto;
            width: 100% !important;
        }

        img {
            height: auto;
            width: 100%;
        }

        &:hover .post-cover {
            opacity: 1;
            top: 0;
        }
    }

    .featured-title {
        text-align: center;

        h2 {
            font-size: 1.1rem;
            padding: 0.5rem;
        }
    }
}

//these will help show/hide the post cover so you have to edit these accordingly to show hide

.home .featured-post-half:nth-of-type(2) .post-cover > p,
.home .featured-post-half:nth-of-type(1) .post-cover > p {
    @include susy-media($desktop) {
        padding: 3rem 0 !important;

        img {
            width: 180px !important;
        }
    }
}

/*.category-work .post-container:nth-of-type(1) .post-cover,
.home .post-container:nth-of-type(8) .post-cover,
.home .post-container:nth-of-type(9) .post-cover {
    display: none;
}

.category-money .post-cover {
    display: none;
}*/

.featured-post-third {
    @include span(12);

    min-height: 200px;
    border-radius: 8px;
    overflow: hidden !important;

    @include susy-media($tablet) {
        @include span(4 of 12);

        @include nth-last(3);
    }


    .featured-thumb-third {
        @include span(12);

        height: 200px;
        position: relative;
        border-radius: 8px;
        overflow: hidden !important;
        z-index: 1;

        @include susy-media($tablet) {
            height: 140px;
        }


        @include susy-media($desktop) {
            height: 200px;
        }


        .attachment-post-thumbnail {
            height: auto;
            width: 100% !important;
        }

        img {
            height: auto;
            max-width: 100%;
        }

        &:hover .post-cover {
            opacity: 1;
            top: 0;
        }
    }

    .featured-title {
        text-align: center;

        h2 {
            font-size: 1.1rem;
            padding: 0.5rem;
        }
    }

    .thumb-generic-linker {
        font-style: italic;
        font-style: italic;
        font-weight: 200;
        font-size: 1.05rem;
        padding: 1.2rem 1.75rem 1rem 1.75rem;
        height: 100%;

        i {
            display: block;
            padding-top: 0.5rem;
            font-size: 1.3rem;
        }
    }
}

.post-cover {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(48, 35, 94, 0.7);
    position: absolute;
    z-index: 2;
    top: 0;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    padding: 2rem 0;
    cursor: pointer;

    .caption {
        position: absolute;
        top: 55px;
        color: white;
        z-index: 4;
        width: 100%;
        height: 100%;
    }

    a {
        display: block;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        position: relative;
        text-align: center;
        padding: 0;
        margin: 0;
        color: white;
    }

    img {
        height: 80px;
        width: 146px !important;
    }

    p {
        display: block;
        vertical-align: middle;
        text-align: center;
        color: white;
        font-weight: 600;
        padding: 0;
        margin: 0;

        &:first-child {
            padding-bottom: 1rem;
        }
    }
}

@import "videos";

/*=================================
-- Corporate Sponsor
=================================*/

.sponsor {
    @include span(12);

    border-bottom: 2px solid $dark-purple;
    min-height: 100px;
    display: table;

    //background-color: rgba(250, 0, 0, 0.1);
    .left-sponsor-logo {
        @include span(12);

        text-align: center;
        height: 145px;
        position: relative;

        //background-color: rgba(250, 0, 0, 0.2);
        @include susy-media($desktop) {
            @include span(4 of 12 first);

            height: 145px;
            padding: 0 1.5rem 0 1.5rem;
        }


        img {
            position: absolute;
            top: 4%;
            bottom: 0;
            left: 0;
            padding: 1.5rem;
        }
    }

    .right-sponsor-content {
        @include span(12);

        //background-color: rgba(250, 0, 0, 0.2);
        font-style: italic;
        font-size: 0.9rem;
        padding: 1.5rem;
        display: inline-block;

        @include susy-media($desktop) {
            @include span(8 of 12 last);

            padding: 0 1.5rem 1.5rem 0;
        }
    }
}

.sponsor-article {
    @include span(12);

    padding: 0 0 1.5rem 0;

    ol {
        margin: 0 0 0 2rem;
        padding: 0;

        li {
            color: $purple;
            font-weight: bold;
        }

        p {
            color: #777;
            font-weight: 500;
        }
    }
}

.yogas-benefits-head-toe .right-sponsor-content {
    margin-top: 1.25rem;
}

/*=================================
-- Related Content /Other Content
=================================*/

#accordion {
    @include span(12);

    margin-bottom: 3.5rem;
    text-align: center;

    .acc-content {
        display: none;
        position: relative;
        text-align: left;
        background: rgba(0, 0, 0, 0.02);
        border-radius: 8px;
        -webkit-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.31);
        -moz-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.31);
        box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.31);

        p {
            padding: 1rem;
            font-size: 0.9rem;
            line-height: 1.45rem;

            &:nth-of-type(2) {
                padding-top: 0 !important;
                margin-top: 0 !important;
            }
        }

        .acc-content-link {
            text-decoration: underline;
            font-weight: 600;
        }
    }

    @include susy-media($desktop) {
        @include gallery(4 of 12);

        .accordionheader {
            img {
                text-align: center;
                height: auto !important;
                max-width: 80% !important;
            }
        }
    }
}

#accordion h2 {
    cursor: pointer;
    outline: 0 !important;
    margin: 0;
    padding: 0 0 1.1rem 0 !important;
    border-bottom: 2px solid rgba(243, 243, 243, 0.2);

    @include susy-media(0 400px) {
        line-height: 1.8rem;
        font-size: 1.2rem;
    }


    &:last-child {
        border-bottom: none;
    }

    i {
        margin-left: .5rem;
        -webkit-transition: all 300ms ease-in 0s;
        -moz-transition: all 300ms ease-in 0s;
        -o-transition: all 300ms ease-in 0s;
        transition: all 300ms ease-in 0s;
    }
}

.ui-accordion-content {
    padding: 0 !important;
    line-height: 1.5rem;

    a {
        color: $purple;
    }
}

.ui-accordion-header-icon {
    display: none !important;
}

.ui-accordion .ui-accordion-header {
    display: block;
    cursor: pointer;
    position: relative;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 100%;
}

.ui-accordion-header:focus {
    outline: none;
}

.ui-state-active i {
    outline: 0 !important;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.ui-datepicker .ui-datepicker-header {
    background: rgb(170, 103, 169);
}

.ui-datepicker {
    border-radius: 8px;
    background: rgb(241, 238, 238);
    box-shadow: 0px 2px 3px 2px rgba(102, 102, 102, 0.31);
    padding: 0.5rem;
}

.ui-datepicker td {
    border: 1px solid rgb(191, 189, 189);
    padding: 1px;
}

.contact-us h1 {
    //display: none;
}

.entry-content {
    margin: 0;

    strong {
        color: #585757;
    }

    ul {
        padding: 0 0 1rem 0;
        margin: 0 0 0 20px;

        @include susy-media($desktop) {
            padding: 0 0 1rem 3rem;
            margin: 0;
        }


        li {
            padding: 0 0 1rem 0;

            i {
                color: $purple;
                font-weight: bold;
            }
        }
    }

    ol {
        list-style: none;
        padding: 0 0 0 20px;
        margin: 0 0 0 0px;

        @include susy-media($desktop) {
            padding: 0 0 1.5rem 1.5rem;
            margin: 0 0 0 1rem;
        }


        position: relative;

        li {
            counter-increment: item;
            padding: 0;
            margin: 0 0 1rem 0;
        }

        li:before {
            color: $purple;
            content: counter(item) ".";
            font-weight: bold;
            position: absolute;
            left: 0;
            padding-right: 50px;
        }
    }
}

.inline-header-image {
    vertical-align: bottom;
    position: relative;
    top: 8px;
    left: 4px;
    margin-right: 10px;
}

#accordion h2.last-header {
    padding: 0 0 1.1rem 0 !important;
    margin: 0 !important;
}

/*=================================
-- Table in Article
=================================*/

.article-table {
    td {
        text-align: center;
        width: 100%;
        padding: 0;
        font-size: 0.9rem;
        border: 2px solid $pink;
    }

    tr:nth-child(1) td {
        border: none;
        padding: 1rem 0 1rem 0;
    }

    tr:nth-child(3) td:nth-child(1) {
        font-size: 0.8rem;
    }

    tr:nth-child(4) td {
        border: none;
        padding: 1rem 0 1rem 0;
        font-size: 0.8rem;
        font-style: italic;
        text-align: left;
        color: rgba(48, 48, 48, 0.7) !important;
    }

    tr:nth-child(2) {
        font-weight: 600;
        color: #303030;
    }

    tr td:nth-child(1) {
        font-weight: 600;
        color: #303030;
    }

    @include susy-media($tablet) {
        td {
            text-align: center;
            width: 15%;
            padding: 0.25rem;
            font-size: 0.9rem;
            border: 2px solid $pink;
            clear: none;
        }
    }


    @include susy-media($desktop) {
        td {
            text-align: center;
            width: 15%;
            padding: 0.5rem;
            font-size: 0.9rem;
            border: 2px solid $pink;
            clear: none;
        }
    }
}

/*=================================
-- Video
=================================*/

.video-full {
    @include span(full);

    padding: 1.5rem 0;
}

.video-container {
    @include container(640px);

    min-height: 360px;
    background: rgba(0, 0, 0, 0.5);
}

@import "partners";

.money {
    background: none !important;
}

/*=================================
-- Explore Row
=================================*/

.explore-more {
    @include span(full);

    padding: 1.5rem 0;

    .explore-inner {
        @include container;
    }
}

/*=================================
-- Signup
=================================*/

.signup-row {
    @include span(full);

    background: $dark-purple;
    padding: 1.5rem 0;
}

.signup-inner {
    @include container;

    text-align: center;
    font-size: 1.35rem;
    color: #eee;
    text-transform: uppercase;

    p {
        padding: 0;
        margin: 0;
    }
}

/*=================================
-- Footer
=================================*/

.footer {
    @include span(full);

    padding: 0 1.5rem;
    background: #333;
    color: #CCC;
    font-size: 0.9rem;

    div.site-footer {
        @include container;

        padding: 3rem 0;
    }

    .footer-items {
        font-size: 0.9rem;

        .social-icons-list-item .socicon-instagram {
            color: #FFF !important;
            background-color: #3c618c !important;
        }

        h2 {
            color: $charm-blue;
            font-size: 1.125rem;
            font-weight: 400;
        }

        .social {
            display: table;

            li {
                line-height: 32px;
                padding-bottom: 1rem;
            }

            li img {
                height: 32px;
                width: 32px;
                margin-right: 0.5rem;
                vertical-align: middle;
            }
        }

        h6 {
            color: $charm-blue;
            margin-top: 1.5rem;
            font-size: 1rem;
        }

        ul {
            padding: 0;
            margin: 0;

            li {
                list-style: none;
                padding: 0;
                margin: 0;
                color: #CCC;

                a {
                    color: #CCC;
                }
            }
        }
    }

    .site-info {
        @include span(full);

        font-size: 0.85rem;
        padding: 1.5rem 0;
        border-top: 1px solid rgba(81, 79, 79, 0.39);
        text-align: center;
        color: #777;

        a {
            color: #777;
        }
    }
}

.deep-purple {
    background: $dark-purple;
}

.mfp-close {
    color: $dark-purple !important;
    opacity: 1 !important;
}

#signup-popup {
    max-width: 675px;
    margin: 20px auto;
    border-radius: 8px;
    background: $pink;
    position: relative;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);

    fieldset {
        padding: 0 !important;
    }

    .frm_html_container {
        text-align: center;
    }

    h2 {
        font-size: 2rem;
        margin: 0 0 1rem 0;
        padding: 0;
        color: #30235e;
        font-weight: 600;
        line-height: 2.4rem;
        text-transform: uppercase;
    }

    .or {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 1.5rem;
        color: #30235e;
        font-weight: 400;
    }

    .frm_section_heading h3 {
        text-align: center;
        border-top: 0 !important;
        color: $dark-purple !important;
        padding: 1rem 0;
    }

    h4 {
        font-size: 1.1rem;
        margin: 0 0 1rem 0;
        padding: 0;
        color: #30235e;
        font-weight: 300;
        text-transform: inherit;
    }

    .close {
        top: 1rem;
        position: absolute;
        right: 0.75rem;
        margin-right: 0.5rem;
        color: #30235e !important;
        cursor: pointer;
        z-index: 900;

        a {
            color: #30235e !important;
        }
    }

    .get-started-form {
        padding: 1.5rem 1.5rem 0.25rem 1.5rem;
        width: 100%;

        p {
            color: white;
            text-align: center;
            font-size: 0.9rem;

            a {
                color: white;
            }
        }
    }

    input[type="submit"] {
        border: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    #field_abx5k,
    #field_5631c,
    #field_5hgn6 {
        color: #999 !important;
    }

    .frm_submit {
        width: 130px;
        margin: auto;
        padding-top: 1.5rem;
    }

    .frm_checkbox label {
        color: white;
        font-size: 0.85rem;
    }

    .popup-submit {
        background: $dark-purple !important;
        padding: 0.5rem 1rem;
        border: none !important;
        color: white;
        margin: auto !important;
        width: 130px;
        border-radius: 8px !important;
    }

    .frm_form_field.frm_fourth {
        width: 31% important;
    }

    .frm_form_field {
        clear: none !important;
    }

    .fields-left {
        width: 100%;

        label {
            color: white !important;
        }

        @include susy-media($tablet) {
            width: 36%;
            float: left;
            color: white;
            margin-left: 6rem;
        }
    }

    .fields-right {
        width: 100%;

        label {
            color: white !important;
        }

        @include susy-media($tablet) {
            width: 36%;
            float: left;
            color: white;
        }
    }

    .bordered-left {
        @include susy-media($tablet) {
            border-left: 1px solid rgba(255, 255, 255, 0.4);
            padding-left: 2.5rem;
        }
    }

    .schwab-account-button {
        width: 57.62712%;
        border-radius: 8px;
        margin: auto;
        background: #30235e;
        color: #FFF;
        text-transform: uppercase;
        padding: 0.75rem 1rem;
        margin-top: 1rem;
        border-radius: 8px;
        margin: auto;
        background: #30235e;
        color: #FFF;
        text-transform: uppercase;
        padding: 0.75rem 1rem;
        margin-top: 1rem;
        margin-bottom: 1.5rem;

        a {
            color: white;
        }
    }

    .frm_message {
        font-size: 1.5rem;
        color: white !important;
        font-family: 'Raleway', sans-serif;
        text-align: center;
        background: none !important;
        border: none;

        p {
            color: white;
            font-size: 1.5rem;
        }
    }
}

#frm_form_8_container #field_9psly {
    color: #999 !important;
}

.popup,
#leaving-popup,
#leaving-popup2 {
    max-width: 500px;
    margin: 20px auto;
    border-radius: 8px;
    background: $pink;
    position: relative;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);

    .leaving-info {
        position: relative;
        width: 100%;
        margin: auto;
        min-height: 164px;
        padding: 0.75rem 2rem;
        text-align: center;

        h3 {
            text-align: center;
            position: relative;
            top: 21px;
            color: $dark-purple;
            margin-bottom: 3rem;
            margin-top: 0;
            line-height: 1.75rem !important;
        }

        a {
            display: inline-block;
            margin: auto;
            padding: 0.5rem 1rem;
            text-align: center;
            color: #fff;

            &:hover {
                color: #fff;
            }
        }

        .warning-button {
            max-width: 45%;
            margin-bottom: 1rem;
            background: $dark-purple;
            border-radius: 8px;
            cursor: pointer;
            font-size: 0.9rem;
        }
    }
}

.close {
    top: 1rem;
    position: absolute;
    right: 0.75rem;
    margin-right: 0.5rem;
    color: #30235e !important;
    cursor: pointer;
    z-index: 900;

    a {
        color: #30235e !important;
    }
}

.signup-row {
    .widget {
        margin: 0 !important;

        a {
            color: #FFFFFF;

            &:hover {
                color: #FFFFFF;
            }
        }
    }
}

#player {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: none !important;
    overflow: hidden !important;
    border-radius: 8px !important;
}

.player .video-wrapper {
    background: none !important;
    border-radius: 8px !important;
    overflow: hidden !important;
}

.nominee-form {
    padding: 1.5rem;
    background: rgba(228, 212, 229, 1);
    border-radius: 8px;

    h2.widget-title {
        display: none;
    }

    h2 {
        text-transform: uppercase;
        margin-bottom: 0.5rem;
    }

    h4 {
        font-weight: 500;
    }

    h2, h4 {
        color: $dark-purple;
    }
}

/*=================================
-- Video Archive 
=================================*/
.video-archive-container {
    @include gallery(3 of 12);

    .post-thumb {
        width: span(12);
        margin-bottom: 0.5rem;
        text-align: center;
    }

    h2.widget-title {
        font-size: 1rem;
        text-align: center;
        line-height: 1.4rem;
    }
}