.header-actions,
.jemma-band,
#site-navigation,
.subheader,
.partners,
.featured-thumb-third,
.signup-row,
.footer,
.explore-row,
.apss-social-share,
.widget_sow-post-carousel {
    display: none;
}

.featured-post-half .featured-title,
.featured-post-third .featured-title {
    text-align: left !important;
}

.featured-post-third,
.featured-post-half {
    width: 100% !important;
    float: left;
    min-height: 0 !important;
    padding: 0;
    margin: 0;
}

h2.widget-title {
    padding: 0 0 1rem 0 !important;
    margin: 0 !important;
}

.post-container .post-thumb {
    display: none;
}

.footer div.site-footer {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 !important;
}

.secondary {
    display: none;
}

.ms-anim-layers img {
    width: 360px;
    height: 220px;
}